%object{ :type => "image/svg+xml", :data => "/assets/apactokyoyear1heavyc1medium.svg", :width => "400", :height => "400"}
%object{ :type => "image/svg+xml", :data => "/assets/apactokyoyear1heavyc1xlarge.svg", :width => "400", :height => "400"}
%object{ :type => "image/svg+xml", :data => "/assets/apactokyoyear1heavyc32xlarge.svg", :width => "400", :height => "400"}
%object{ :type => "image/svg+xml", :data => "/assets/apactokyoyear1heavyc34xlarge.svg", :width => "400", :height => "400"}
%object{ :type => "image/svg+xml", :data => "/assets/apactokyoyear1heavyc38xlarge.svg", :width => "400", :height => "400"}
%object{ :type => "image/svg+xml", :data => "/assets/apactokyoyear1heavyc3large.svg", :width => "400", :height => "400"}
%object{ :type => "image/svg+xml", :data => "/assets/apactokyoyear1heavyc3xlarge.svg", :width => "400", :height => "400"}
%object{ :type => "image/svg+xml", :data => "/assets/apactokyoyear1heavycc28xlarge.svg", :width => "400", :height => "400"}
%object{ :type => "image/svg+xml", :data => "/assets/apactokyoyear1heavycr18xlarge.svg", :width => "400", :height => "400"}
%object{ :type => "image/svg+xml", :data => "/assets/apactokyoyear1heavyhi14xlarge.svg", :width => "400", :height => "400"}
%object{ :type => "image/svg+xml", :data => "/assets/apactokyoyear1heavyhs18xlarge.svg", :width => "400", :height => "400"}
%object{ :type => "image/svg+xml", :data => "/assets/apactokyoyear1heavyi22xlarge.svg", :width => "400", :height => "400"}
%object{ :type => "image/svg+xml", :data => "/assets/apactokyoyear1heavyi24xlarge.svg", :width => "400", :height => "400"}
%object{ :type => "image/svg+xml", :data => "/assets/apactokyoyear1heavyi28xlarge.svg", :width => "400", :height => "400"}
%object{ :type => "image/svg+xml", :data => "/assets/apactokyoyear1heavyi2xlarge.svg", :width => "400", :height => "400"}
%object{ :type => "image/svg+xml", :data => "/assets/apactokyoyear1heavym1large.svg", :width => "400", :height => "400"}
%object{ :type => "image/svg+xml", :data => "/assets/apactokyoyear1heavym1medium.svg", :width => "400", :height => "400"}
%object{ :type => "image/svg+xml", :data => "/assets/apactokyoyear1heavym1small.svg", :width => "400", :height => "400"}
%object{ :type => "image/svg+xml", :data => "/assets/apactokyoyear1heavym1xlarge.svg", :width => "400", :height => "400"}
%object{ :type => "image/svg+xml", :data => "/assets/apactokyoyear1heavym22xlarge.svg", :width => "400", :height => "400"}
%object{ :type => "image/svg+xml", :data => "/assets/apactokyoyear1heavym24xlarge.svg", :width => "400", :height => "400"}
%object{ :type => "image/svg+xml", :data => "/assets/apactokyoyear1heavym2xlarge.svg", :width => "400", :height => "400"}
%object{ :type => "image/svg+xml", :data => "/assets/apactokyoyear1heavym32xlarge.svg", :width => "400", :height => "400"}
%object{ :type => "image/svg+xml", :data => "/assets/apactokyoyear1heavym3large.svg", :width => "400", :height => "400"}
%object{ :type => "image/svg+xml", :data => "/assets/apactokyoyear1heavym3medium.svg", :width => "400", :height => "400"}
%object{ :type => "image/svg+xml", :data => "/assets/apactokyoyear1heavym3xlarge.svg", :width => "400", :height => "400"}
%object{ :type => "image/svg+xml", :data => "/assets/apactokyoyear1heavyt1micro.svg", :width => "400", :height => "400"}
%object{ :type => "image/svg+xml", :data => "/assets/apactokyoyear1lightc1medium.svg", :width => "400", :height => "400"}
%object{ :type => "image/svg+xml", :data => "/assets/apactokyoyear1lightc1xlarge.svg", :width => "400", :height => "400"}
%object{ :type => "image/svg+xml", :data => "/assets/apactokyoyear1lightc32xlarge.svg", :width => "400", :height => "400"}
%object{ :type => "image/svg+xml", :data => "/assets/apactokyoyear1lightc34xlarge.svg", :width => "400", :height => "400"}
%object{ :type => "image/svg+xml", :data => "/assets/apactokyoyear1lightc38xlarge.svg", :width => "400", :height => "400"}
%object{ :type => "image/svg+xml", :data => "/assets/apactokyoyear1lightc3large.svg", :width => "400", :height => "400"}
%object{ :type => "image/svg+xml", :data => "/assets/apactokyoyear1lightc3xlarge.svg", :width => "400", :height => "400"}
%object{ :type => "image/svg+xml", :data => "/assets/apactokyoyear1lightcc28xlarge.svg", :width => "400", :height => "400"}
%object{ :type => "image/svg+xml", :data => "/assets/apactokyoyear1lightcr18xlarge.svg", :width => "400", :height => "400"}
%object{ :type => "image/svg+xml", :data => "/assets/apactokyoyear1lighthi14xlarge.svg", :width => "400", :height => "400"}
%object{ :type => "image/svg+xml", :data => "/assets/apactokyoyear1lighths18xlarge.svg", :width => "400", :height => "400"}
%object{ :type => "image/svg+xml", :data => "/assets/apactokyoyear1lighti22xlarge.svg", :width => "400", :height => "400"}
%object{ :type => "image/svg+xml", :data => "/assets/apactokyoyear1lighti24xlarge.svg", :width => "400", :height => "400"}
%object{ :type => "image/svg+xml", :data => "/assets/apactokyoyear1lighti28xlarge.svg", :width => "400", :height => "400"}
%object{ :type => "image/svg+xml", :data => "/assets/apactokyoyear1lighti2xlarge.svg", :width => "400", :height => "400"}
%object{ :type => "image/svg+xml", :data => "/assets/apactokyoyear1lightm1large.svg", :width => "400", :height => "400"}
%object{ :type => "image/svg+xml", :data => "/assets/apactokyoyear1lightm1medium.svg", :width => "400", :height => "400"}
%object{ :type => "image/svg+xml", :data => "/assets/apactokyoyear1lightm1small.svg", :width => "400", :height => "400"}
%object{ :type => "image/svg+xml", :data => "/assets/apactokyoyear1lightm1xlarge.svg", :width => "400", :height => "400"}
%object{ :type => "image/svg+xml", :data => "/assets/apactokyoyear1lightm22xlarge.svg", :width => "400", :height => "400"}
%object{ :type => "image/svg+xml", :data => "/assets/apactokyoyear1lightm24xlarge.svg", :width => "400", :height => "400"}
%object{ :type => "image/svg+xml", :data => "/assets/apactokyoyear1lightm2xlarge.svg", :width => "400", :height => "400"}
%object{ :type => "image/svg+xml", :data => "/assets/apactokyoyear1lightm32xlarge.svg", :width => "400", :height => "400"}
%object{ :type => "image/svg+xml", :data => "/assets/apactokyoyear1lightm3large.svg", :width => "400", :height => "400"}
%object{ :type => "image/svg+xml", :data => "/assets/apactokyoyear1lightm3medium.svg", :width => "400", :height => "400"}
%object{ :type => "image/svg+xml", :data => "/assets/apactokyoyear1lightm3xlarge.svg", :width => "400", :height => "400"}
%object{ :type => "image/svg+xml", :data => "/assets/apactokyoyear1lightt1micro.svg", :width => "400", :height => "400"}
%object{ :type => "image/svg+xml", :data => "/assets/apactokyoyear1mediumc1medium.svg", :width => "400", :height => "400"}
%object{ :type => "image/svg+xml", :data => "/assets/apactokyoyear1mediumc1xlarge.svg", :width => "400", :height => "400"}
%object{ :type => "image/svg+xml", :data => "/assets/apactokyoyear1mediumc32xlarge.svg", :width => "400", :height => "400"}
%object{ :type => "image/svg+xml", :data => "/assets/apactokyoyear1mediumc34xlarge.svg", :width => "400", :height => "400"}
%object{ :type => "image/svg+xml", :data => "/assets/apactokyoyear1mediumc38xlarge.svg", :width => "400", :height => "400"}
%object{ :type => "image/svg+xml", :data => "/assets/apactokyoyear1mediumc3large.svg", :width => "400", :height => "400"}
%object{ :type => "image/svg+xml", :data => "/assets/apactokyoyear1mediumc3xlarge.svg", :width => "400", :height => "400"}
%object{ :type => "image/svg+xml", :data => "/assets/apactokyoyear1mediumcc28xlarge.svg", :width => "400", :height => "400"}
%object{ :type => "image/svg+xml", :data => "/assets/apactokyoyear1mediumcr18xlarge.svg", :width => "400", :height => "400"}
%object{ :type => "image/svg+xml", :data => "/assets/apactokyoyear1mediumhi14xlarge.svg", :width => "400", :height => "400"}
%object{ :type => "image/svg+xml", :data => "/assets/apactokyoyear1mediumhs18xlarge.svg", :width => "400", :height => "400"}
%object{ :type => "image/svg+xml", :data => "/assets/apactokyoyear1mediumi22xlarge.svg", :width => "400", :height => "400"}
%object{ :type => "image/svg+xml", :data => "/assets/apactokyoyear1mediumi24xlarge.svg", :width => "400", :height => "400"}
%object{ :type => "image/svg+xml", :data => "/assets/apactokyoyear1mediumi28xlarge.svg", :width => "400", :height => "400"}
%object{ :type => "image/svg+xml", :data => "/assets/apactokyoyear1mediumi2xlarge.svg", :width => "400", :height => "400"}
%object{ :type => "image/svg+xml", :data => "/assets/apactokyoyear1mediumm1large.svg", :width => "400", :height => "400"}
%object{ :type => "image/svg+xml", :data => "/assets/apactokyoyear1mediumm1medium.svg", :width => "400", :height => "400"}
%object{ :type => "image/svg+xml", :data => "/assets/apactokyoyear1mediumm1small.svg", :width => "400", :height => "400"}
%object{ :type => "image/svg+xml", :data => "/assets/apactokyoyear1mediumm1xlarge.svg", :width => "400", :height => "400"}
%object{ :type => "image/svg+xml", :data => "/assets/apactokyoyear1mediumm22xlarge.svg", :width => "400", :height => "400"}
%object{ :type => "image/svg+xml", :data => "/assets/apactokyoyear1mediumm24xlarge.svg", :width => "400", :height => "400"}
%object{ :type => "image/svg+xml", :data => "/assets/apactokyoyear1mediumm2xlarge.svg", :width => "400", :height => "400"}
%object{ :type => "image/svg+xml", :data => "/assets/apactokyoyear1mediumm32xlarge.svg", :width => "400", :height => "400"}
%object{ :type => "image/svg+xml", :data => "/assets/apactokyoyear1mediumm3large.svg", :width => "400", :height => "400"}
%object{ :type => "image/svg+xml", :data => "/assets/apactokyoyear1mediumm3medium.svg", :width => "400", :height => "400"}
%object{ :type => "image/svg+xml", :data => "/assets/apactokyoyear1mediumm3xlarge.svg", :width => "400", :height => "400"}
%object{ :type => "image/svg+xml", :data => "/assets/apactokyoyear1mediumt1micro.svg", :width => "400", :height => "400"}
%object{ :type => "image/svg+xml", :data => "/assets/apactokyoyear3heavyc1medium.svg", :width => "400", :height => "400"}
%object{ :type => "image/svg+xml", :data => "/assets/apactokyoyear3heavyc1xlarge.svg", :width => "400", :height => "400"}
%object{ :type => "image/svg+xml", :data => "/assets/apactokyoyear3heavyc32xlarge.svg", :width => "400", :height => "400"}
%object{ :type => "image/svg+xml", :data => "/assets/apactokyoyear3heavyc34xlarge.svg", :width => "400", :height => "400"}
%object{ :type => "image/svg+xml", :data => "/assets/apactokyoyear3heavyc38xlarge.svg", :width => "400", :height => "400"}
%object{ :type => "image/svg+xml", :data => "/assets/apactokyoyear3heavyc3large.svg", :width => "400", :height => "400"}
%object{ :type => "image/svg+xml", :data => "/assets/apactokyoyear3heavyc3xlarge.svg", :width => "400", :height => "400"}
%object{ :type => "image/svg+xml", :data => "/assets/apactokyoyear3heavycc28xlarge.svg", :width => "400", :height => "400"}
%object{ :type => "image/svg+xml", :data => "/assets/apactokyoyear3heavycr18xlarge.svg", :width => "400", :height => "400"}
%object{ :type => "image/svg+xml", :data => "/assets/apactokyoyear3heavyhi14xlarge.svg", :width => "400", :height => "400"}
%object{ :type => "image/svg+xml", :data => "/assets/apactokyoyear3heavyhs18xlarge.svg", :width => "400", :height => "400"}
%object{ :type => "image/svg+xml", :data => "/assets/apactokyoyear3heavyi22xlarge.svg", :width => "400", :height => "400"}
%object{ :type => "image/svg+xml", :data => "/assets/apactokyoyear3heavyi24xlarge.svg", :width => "400", :height => "400"}
%object{ :type => "image/svg+xml", :data => "/assets/apactokyoyear3heavyi28xlarge.svg", :width => "400", :height => "400"}
%object{ :type => "image/svg+xml", :data => "/assets/apactokyoyear3heavyi2xlarge.svg", :width => "400", :height => "400"}
%object{ :type => "image/svg+xml", :data => "/assets/apactokyoyear3heavym1large.svg", :width => "400", :height => "400"}
%object{ :type => "image/svg+xml", :data => "/assets/apactokyoyear3heavym1medium.svg", :width => "400", :height => "400"}
%object{ :type => "image/svg+xml", :data => "/assets/apactokyoyear3heavym1small.svg", :width => "400", :height => "400"}
%object{ :type => "image/svg+xml", :data => "/assets/apactokyoyear3heavym1xlarge.svg", :width => "400", :height => "400"}
%object{ :type => "image/svg+xml", :data => "/assets/apactokyoyear3heavym22xlarge.svg", :width => "400", :height => "400"}
%object{ :type => "image/svg+xml", :data => "/assets/apactokyoyear3heavym24xlarge.svg", :width => "400", :height => "400"}
%object{ :type => "image/svg+xml", :data => "/assets/apactokyoyear3heavym2xlarge.svg", :width => "400", :height => "400"}
%object{ :type => "image/svg+xml", :data => "/assets/apactokyoyear3heavym32xlarge.svg", :width => "400", :height => "400"}
%object{ :type => "image/svg+xml", :data => "/assets/apactokyoyear3heavym3large.svg", :width => "400", :height => "400"}
%object{ :type => "image/svg+xml", :data => "/assets/apactokyoyear3heavym3medium.svg", :width => "400", :height => "400"}
%object{ :type => "image/svg+xml", :data => "/assets/apactokyoyear3heavym3xlarge.svg", :width => "400", :height => "400"}
%object{ :type => "image/svg+xml", :data => "/assets/apactokyoyear3heavyt1micro.svg", :width => "400", :height => "400"}
%object{ :type => "image/svg+xml", :data => "/assets/apactokyoyear3lightc1medium.svg", :width => "400", :height => "400"}
%object{ :type => "image/svg+xml", :data => "/assets/apactokyoyear3lightc1xlarge.svg", :width => "400", :height => "400"}
%object{ :type => "image/svg+xml", :data => "/assets/apactokyoyear3lightc32xlarge.svg", :width => "400", :height => "400"}
%object{ :type => "image/svg+xml", :data => "/assets/apactokyoyear3lightc34xlarge.svg", :width => "400", :height => "400"}
%object{ :type => "image/svg+xml", :data => "/assets/apactokyoyear3lightc38xlarge.svg", :width => "400", :height => "400"}
%object{ :type => "image/svg+xml", :data => "/assets/apactokyoyear3lightc3large.svg", :width => "400", :height => "400"}
%object{ :type => "image/svg+xml", :data => "/assets/apactokyoyear3lightc3xlarge.svg", :width => "400", :height => "400"}
%object{ :type => "image/svg+xml", :data => "/assets/apactokyoyear3lightcc28xlarge.svg", :width => "400", :height => "400"}
%object{ :type => "image/svg+xml", :data => "/assets/apactokyoyear3lightcr18xlarge.svg", :width => "400", :height => "400"}
%object{ :type => "image/svg+xml", :data => "/assets/apactokyoyear3lighthi14xlarge.svg", :width => "400", :height => "400"}
%object{ :type => "image/svg+xml", :data => "/assets/apactokyoyear3lighths18xlarge.svg", :width => "400", :height => "400"}
%object{ :type => "image/svg+xml", :data => "/assets/apactokyoyear3lighti22xlarge.svg", :width => "400", :height => "400"}
%object{ :type => "image/svg+xml", :data => "/assets/apactokyoyear3lighti24xlarge.svg", :width => "400", :height => "400"}
%object{ :type => "image/svg+xml", :data => "/assets/apactokyoyear3lighti28xlarge.svg", :width => "400", :height => "400"}
%object{ :type => "image/svg+xml", :data => "/assets/apactokyoyear3lighti2xlarge.svg", :width => "400", :height => "400"}
%object{ :type => "image/svg+xml", :data => "/assets/apactokyoyear3lightm1large.svg", :width => "400", :height => "400"}
%object{ :type => "image/svg+xml", :data => "/assets/apactokyoyear3lightm1medium.svg", :width => "400", :height => "400"}
%object{ :type => "image/svg+xml", :data => "/assets/apactokyoyear3lightm1small.svg", :width => "400", :height => "400"}
%object{ :type => "image/svg+xml", :data => "/assets/apactokyoyear3lightm1xlarge.svg", :width => "400", :height => "400"}
%object{ :type => "image/svg+xml", :data => "/assets/apactokyoyear3lightm22xlarge.svg", :width => "400", :height => "400"}
%object{ :type => "image/svg+xml", :data => "/assets/apactokyoyear3lightm24xlarge.svg", :width => "400", :height => "400"}
%object{ :type => "image/svg+xml", :data => "/assets/apactokyoyear3lightm2xlarge.svg", :width => "400", :height => "400"}
%object{ :type => "image/svg+xml", :data => "/assets/apactokyoyear3lightm32xlarge.svg", :width => "400", :height => "400"}
%object{ :type => "image/svg+xml", :data => "/assets/apactokyoyear3lightm3large.svg", :width => "400", :height => "400"}
%object{ :type => "image/svg+xml", :data => "/assets/apactokyoyear3lightm3medium.svg", :width => "400", :height => "400"}
%object{ :type => "image/svg+xml", :data => "/assets/apactokyoyear3lightm3xlarge.svg", :width => "400", :height => "400"}
%object{ :type => "image/svg+xml", :data => "/assets/apactokyoyear3lightt1micro.svg", :width => "400", :height => "400"}
%object{ :type => "image/svg+xml", :data => "/assets/apactokyoyear3mediumc1medium.svg", :width => "400", :height => "400"}
%object{ :type => "image/svg+xml", :data => "/assets/apactokyoyear3mediumc1xlarge.svg", :width => "400", :height => "400"}
%object{ :type => "image/svg+xml", :data => "/assets/apactokyoyear3mediumc32xlarge.svg", :width => "400", :height => "400"}
%object{ :type => "image/svg+xml", :data => "/assets/apactokyoyear3mediumc34xlarge.svg", :width => "400", :height => "400"}
%object{ :type => "image/svg+xml", :data => "/assets/apactokyoyear3mediumc38xlarge.svg", :width => "400", :height => "400"}
%object{ :type => "image/svg+xml", :data => "/assets/apactokyoyear3mediumc3large.svg", :width => "400", :height => "400"}
%object{ :type => "image/svg+xml", :data => "/assets/apactokyoyear3mediumc3xlarge.svg", :width => "400", :height => "400"}
%object{ :type => "image/svg+xml", :data => "/assets/apactokyoyear3mediumcc28xlarge.svg", :width => "400", :height => "400"}
%object{ :type => "image/svg+xml", :data => "/assets/apactokyoyear3mediumcr18xlarge.svg", :width => "400", :height => "400"}
%object{ :type => "image/svg+xml", :data => "/assets/apactokyoyear3mediumhi14xlarge.svg", :width => "400", :height => "400"}
%object{ :type => "image/svg+xml", :data => "/assets/apactokyoyear3mediumhs18xlarge.svg", :width => "400", :height => "400"}
%object{ :type => "image/svg+xml", :data => "/assets/apactokyoyear3mediumi22xlarge.svg", :width => "400", :height => "400"}
%object{ :type => "image/svg+xml", :data => "/assets/apactokyoyear3mediumi24xlarge.svg", :width => "400", :height => "400"}
%object{ :type => "image/svg+xml", :data => "/assets/apactokyoyear3mediumi28xlarge.svg", :width => "400", :height => "400"}
%object{ :type => "image/svg+xml", :data => "/assets/apactokyoyear3mediumi2xlarge.svg", :width => "400", :height => "400"}
%object{ :type => "image/svg+xml", :data => "/assets/apactokyoyear3mediumm1large.svg", :width => "400", :height => "400"}
%object{ :type => "image/svg+xml", :data => "/assets/apactokyoyear3mediumm1medium.svg", :width => "400", :height => "400"}
%object{ :type => "image/svg+xml", :data => "/assets/apactokyoyear3mediumm1small.svg", :width => "400", :height => "400"}
%object{ :type => "image/svg+xml", :data => "/assets/apactokyoyear3mediumm1xlarge.svg", :width => "400", :height => "400"}
%object{ :type => "image/svg+xml", :data => "/assets/apactokyoyear3mediumm22xlarge.svg", :width => "400", :height => "400"}
%object{ :type => "image/svg+xml", :data => "/assets/apactokyoyear3mediumm24xlarge.svg", :width => "400", :height => "400"}
%object{ :type => "image/svg+xml", :data => "/assets/apactokyoyear3mediumm2xlarge.svg", :width => "400", :height => "400"}
%object{ :type => "image/svg+xml", :data => "/assets/apactokyoyear3mediumm32xlarge.svg", :width => "400", :height => "400"}
%object{ :type => "image/svg+xml", :data => "/assets/apactokyoyear3mediumm3large.svg", :width => "400", :height => "400"}
%object{ :type => "image/svg+xml", :data => "/assets/apactokyoyear3mediumm3medium.svg", :width => "400", :height => "400"}
%object{ :type => "image/svg+xml", :data => "/assets/apactokyoyear3mediumm3xlarge.svg", :width => "400", :height => "400"}
%object{ :type => "image/svg+xml", :data => "/assets/apactokyoyear3mediumt1micro.svg", :width => "400", :height => "400"}
