%object{ :type => "image/svg+xml", :data => "/assets/apacsinyear1heavyc1medium.svg", :width => "400", :height => "400"}
%object{ :type => "image/svg+xml", :data => "/assets/apacsinyear1heavyc1xlarge.svg", :width => "400", :height => "400"}
%object{ :type => "image/svg+xml", :data => "/assets/apacsinyear1heavyc32xlarge.svg", :width => "400", :height => "400"}
%object{ :type => "image/svg+xml", :data => "/assets/apacsinyear1heavyc34xlarge.svg", :width => "400", :height => "400"}
%object{ :type => "image/svg+xml", :data => "/assets/apacsinyear1heavyc38xlarge.svg", :width => "400", :height => "400"}
%object{ :type => "image/svg+xml", :data => "/assets/apacsinyear1heavyc3large.svg", :width => "400", :height => "400"}
%object{ :type => "image/svg+xml", :data => "/assets/apacsinyear1heavyc3xlarge.svg", :width => "400", :height => "400"}
%object{ :type => "image/svg+xml", :data => "/assets/apacsinyear1heavyhs18xlarge.svg", :width => "400", :height => "400"}
%object{ :type => "image/svg+xml", :data => "/assets/apacsinyear1heavyi22xlarge.svg", :width => "400", :height => "400"}
%object{ :type => "image/svg+xml", :data => "/assets/apacsinyear1heavyi24xlarge.svg", :width => "400", :height => "400"}
%object{ :type => "image/svg+xml", :data => "/assets/apacsinyear1heavyi28xlarge.svg", :width => "400", :height => "400"}
%object{ :type => "image/svg+xml", :data => "/assets/apacsinyear1heavyi2xlarge.svg", :width => "400", :height => "400"}
%object{ :type => "image/svg+xml", :data => "/assets/apacsinyear1heavym1large.svg", :width => "400", :height => "400"}
%object{ :type => "image/svg+xml", :data => "/assets/apacsinyear1heavym1medium.svg", :width => "400", :height => "400"}
%object{ :type => "image/svg+xml", :data => "/assets/apacsinyear1heavym1small.svg", :width => "400", :height => "400"}
%object{ :type => "image/svg+xml", :data => "/assets/apacsinyear1heavym1xlarge.svg", :width => "400", :height => "400"}
%object{ :type => "image/svg+xml", :data => "/assets/apacsinyear1heavym22xlarge.svg", :width => "400", :height => "400"}
%object{ :type => "image/svg+xml", :data => "/assets/apacsinyear1heavym24xlarge.svg", :width => "400", :height => "400"}
%object{ :type => "image/svg+xml", :data => "/assets/apacsinyear1heavym2xlarge.svg", :width => "400", :height => "400"}
%object{ :type => "image/svg+xml", :data => "/assets/apacsinyear1heavym32xlarge.svg", :width => "400", :height => "400"}
%object{ :type => "image/svg+xml", :data => "/assets/apacsinyear1heavym3large.svg", :width => "400", :height => "400"}
%object{ :type => "image/svg+xml", :data => "/assets/apacsinyear1heavym3medium.svg", :width => "400", :height => "400"}
%object{ :type => "image/svg+xml", :data => "/assets/apacsinyear1heavym3xlarge.svg", :width => "400", :height => "400"}
%object{ :type => "image/svg+xml", :data => "/assets/apacsinyear1heavyt1micro.svg", :width => "400", :height => "400"}
%object{ :type => "image/svg+xml", :data => "/assets/apacsinyear1lightc1medium.svg", :width => "400", :height => "400"}
%object{ :type => "image/svg+xml", :data => "/assets/apacsinyear1lightc1xlarge.svg", :width => "400", :height => "400"}
%object{ :type => "image/svg+xml", :data => "/assets/apacsinyear1lightc32xlarge.svg", :width => "400", :height => "400"}
%object{ :type => "image/svg+xml", :data => "/assets/apacsinyear1lightc34xlarge.svg", :width => "400", :height => "400"}
%object{ :type => "image/svg+xml", :data => "/assets/apacsinyear1lightc38xlarge.svg", :width => "400", :height => "400"}
%object{ :type => "image/svg+xml", :data => "/assets/apacsinyear1lightc3large.svg", :width => "400", :height => "400"}
%object{ :type => "image/svg+xml", :data => "/assets/apacsinyear1lightc3xlarge.svg", :width => "400", :height => "400"}
%object{ :type => "image/svg+xml", :data => "/assets/apacsinyear1lighths18xlarge.svg", :width => "400", :height => "400"}
%object{ :type => "image/svg+xml", :data => "/assets/apacsinyear1lighti22xlarge.svg", :width => "400", :height => "400"}
%object{ :type => "image/svg+xml", :data => "/assets/apacsinyear1lighti24xlarge.svg", :width => "400", :height => "400"}
%object{ :type => "image/svg+xml", :data => "/assets/apacsinyear1lighti28xlarge.svg", :width => "400", :height => "400"}
%object{ :type => "image/svg+xml", :data => "/assets/apacsinyear1lighti2xlarge.svg", :width => "400", :height => "400"}
%object{ :type => "image/svg+xml", :data => "/assets/apacsinyear1lightm1large.svg", :width => "400", :height => "400"}
%object{ :type => "image/svg+xml", :data => "/assets/apacsinyear1lightm1medium.svg", :width => "400", :height => "400"}
%object{ :type => "image/svg+xml", :data => "/assets/apacsinyear1lightm1small.svg", :width => "400", :height => "400"}
%object{ :type => "image/svg+xml", :data => "/assets/apacsinyear1lightm1xlarge.svg", :width => "400", :height => "400"}
%object{ :type => "image/svg+xml", :data => "/assets/apacsinyear1lightm22xlarge.svg", :width => "400", :height => "400"}
%object{ :type => "image/svg+xml", :data => "/assets/apacsinyear1lightm24xlarge.svg", :width => "400", :height => "400"}
%object{ :type => "image/svg+xml", :data => "/assets/apacsinyear1lightm2xlarge.svg", :width => "400", :height => "400"}
%object{ :type => "image/svg+xml", :data => "/assets/apacsinyear1lightm32xlarge.svg", :width => "400", :height => "400"}
%object{ :type => "image/svg+xml", :data => "/assets/apacsinyear1lightm3large.svg", :width => "400", :height => "400"}
%object{ :type => "image/svg+xml", :data => "/assets/apacsinyear1lightm3medium.svg", :width => "400", :height => "400"}
%object{ :type => "image/svg+xml", :data => "/assets/apacsinyear1lightm3xlarge.svg", :width => "400", :height => "400"}
%object{ :type => "image/svg+xml", :data => "/assets/apacsinyear1lightt1micro.svg", :width => "400", :height => "400"}
%object{ :type => "image/svg+xml", :data => "/assets/apacsinyear1mediumc1medium.svg", :width => "400", :height => "400"}
%object{ :type => "image/svg+xml", :data => "/assets/apacsinyear1mediumc1xlarge.svg", :width => "400", :height => "400"}
%object{ :type => "image/svg+xml", :data => "/assets/apacsinyear1mediumc32xlarge.svg", :width => "400", :height => "400"}
%object{ :type => "image/svg+xml", :data => "/assets/apacsinyear1mediumc34xlarge.svg", :width => "400", :height => "400"}
%object{ :type => "image/svg+xml", :data => "/assets/apacsinyear1mediumc38xlarge.svg", :width => "400", :height => "400"}
%object{ :type => "image/svg+xml", :data => "/assets/apacsinyear1mediumc3large.svg", :width => "400", :height => "400"}
%object{ :type => "image/svg+xml", :data => "/assets/apacsinyear1mediumc3xlarge.svg", :width => "400", :height => "400"}
%object{ :type => "image/svg+xml", :data => "/assets/apacsinyear1mediumhs18xlarge.svg", :width => "400", :height => "400"}
%object{ :type => "image/svg+xml", :data => "/assets/apacsinyear1mediumi22xlarge.svg", :width => "400", :height => "400"}
%object{ :type => "image/svg+xml", :data => "/assets/apacsinyear1mediumi24xlarge.svg", :width => "400", :height => "400"}
%object{ :type => "image/svg+xml", :data => "/assets/apacsinyear1mediumi28xlarge.svg", :width => "400", :height => "400"}
%object{ :type => "image/svg+xml", :data => "/assets/apacsinyear1mediumi2xlarge.svg", :width => "400", :height => "400"}
%object{ :type => "image/svg+xml", :data => "/assets/apacsinyear1mediumm1large.svg", :width => "400", :height => "400"}
%object{ :type => "image/svg+xml", :data => "/assets/apacsinyear1mediumm1medium.svg", :width => "400", :height => "400"}
%object{ :type => "image/svg+xml", :data => "/assets/apacsinyear1mediumm1small.svg", :width => "400", :height => "400"}
%object{ :type => "image/svg+xml", :data => "/assets/apacsinyear1mediumm1xlarge.svg", :width => "400", :height => "400"}
%object{ :type => "image/svg+xml", :data => "/assets/apacsinyear1mediumm22xlarge.svg", :width => "400", :height => "400"}
%object{ :type => "image/svg+xml", :data => "/assets/apacsinyear1mediumm24xlarge.svg", :width => "400", :height => "400"}
%object{ :type => "image/svg+xml", :data => "/assets/apacsinyear1mediumm2xlarge.svg", :width => "400", :height => "400"}
%object{ :type => "image/svg+xml", :data => "/assets/apacsinyear1mediumm32xlarge.svg", :width => "400", :height => "400"}
%object{ :type => "image/svg+xml", :data => "/assets/apacsinyear1mediumm3large.svg", :width => "400", :height => "400"}
%object{ :type => "image/svg+xml", :data => "/assets/apacsinyear1mediumm3medium.svg", :width => "400", :height => "400"}
%object{ :type => "image/svg+xml", :data => "/assets/apacsinyear1mediumm3xlarge.svg", :width => "400", :height => "400"}
%object{ :type => "image/svg+xml", :data => "/assets/apacsinyear1mediumt1micro.svg", :width => "400", :height => "400"}
%object{ :type => "image/svg+xml", :data => "/assets/apacsinyear3heavyc1medium.svg", :width => "400", :height => "400"}
%object{ :type => "image/svg+xml", :data => "/assets/apacsinyear3heavyc1xlarge.svg", :width => "400", :height => "400"}
%object{ :type => "image/svg+xml", :data => "/assets/apacsinyear3heavyc32xlarge.svg", :width => "400", :height => "400"}
%object{ :type => "image/svg+xml", :data => "/assets/apacsinyear3heavyc34xlarge.svg", :width => "400", :height => "400"}
%object{ :type => "image/svg+xml", :data => "/assets/apacsinyear3heavyc38xlarge.svg", :width => "400", :height => "400"}
%object{ :type => "image/svg+xml", :data => "/assets/apacsinyear3heavyc3large.svg", :width => "400", :height => "400"}
%object{ :type => "image/svg+xml", :data => "/assets/apacsinyear3heavyc3xlarge.svg", :width => "400", :height => "400"}
%object{ :type => "image/svg+xml", :data => "/assets/apacsinyear3heavyhs18xlarge.svg", :width => "400", :height => "400"}
%object{ :type => "image/svg+xml", :data => "/assets/apacsinyear3heavyi22xlarge.svg", :width => "400", :height => "400"}
%object{ :type => "image/svg+xml", :data => "/assets/apacsinyear3heavyi24xlarge.svg", :width => "400", :height => "400"}
%object{ :type => "image/svg+xml", :data => "/assets/apacsinyear3heavyi28xlarge.svg", :width => "400", :height => "400"}
%object{ :type => "image/svg+xml", :data => "/assets/apacsinyear3heavyi2xlarge.svg", :width => "400", :height => "400"}
%object{ :type => "image/svg+xml", :data => "/assets/apacsinyear3heavym1large.svg", :width => "400", :height => "400"}
%object{ :type => "image/svg+xml", :data => "/assets/apacsinyear3heavym1medium.svg", :width => "400", :height => "400"}
%object{ :type => "image/svg+xml", :data => "/assets/apacsinyear3heavym1small.svg", :width => "400", :height => "400"}
%object{ :type => "image/svg+xml", :data => "/assets/apacsinyear3heavym1xlarge.svg", :width => "400", :height => "400"}
%object{ :type => "image/svg+xml", :data => "/assets/apacsinyear3heavym22xlarge.svg", :width => "400", :height => "400"}
%object{ :type => "image/svg+xml", :data => "/assets/apacsinyear3heavym24xlarge.svg", :width => "400", :height => "400"}
%object{ :type => "image/svg+xml", :data => "/assets/apacsinyear3heavym2xlarge.svg", :width => "400", :height => "400"}
%object{ :type => "image/svg+xml", :data => "/assets/apacsinyear3heavym32xlarge.svg", :width => "400", :height => "400"}
%object{ :type => "image/svg+xml", :data => "/assets/apacsinyear3heavym3large.svg", :width => "400", :height => "400"}
%object{ :type => "image/svg+xml", :data => "/assets/apacsinyear3heavym3medium.svg", :width => "400", :height => "400"}
%object{ :type => "image/svg+xml", :data => "/assets/apacsinyear3heavym3xlarge.svg", :width => "400", :height => "400"}
%object{ :type => "image/svg+xml", :data => "/assets/apacsinyear3heavyt1micro.svg", :width => "400", :height => "400"}
%object{ :type => "image/svg+xml", :data => "/assets/apacsinyear3lightc1medium.svg", :width => "400", :height => "400"}
%object{ :type => "image/svg+xml", :data => "/assets/apacsinyear3lightc1xlarge.svg", :width => "400", :height => "400"}
%object{ :type => "image/svg+xml", :data => "/assets/apacsinyear3lightc32xlarge.svg", :width => "400", :height => "400"}
%object{ :type => "image/svg+xml", :data => "/assets/apacsinyear3lightc34xlarge.svg", :width => "400", :height => "400"}
%object{ :type => "image/svg+xml", :data => "/assets/apacsinyear3lightc38xlarge.svg", :width => "400", :height => "400"}
%object{ :type => "image/svg+xml", :data => "/assets/apacsinyear3lightc3large.svg", :width => "400", :height => "400"}
%object{ :type => "image/svg+xml", :data => "/assets/apacsinyear3lightc3xlarge.svg", :width => "400", :height => "400"}
%object{ :type => "image/svg+xml", :data => "/assets/apacsinyear3lighths18xlarge.svg", :width => "400", :height => "400"}
%object{ :type => "image/svg+xml", :data => "/assets/apacsinyear3lighti22xlarge.svg", :width => "400", :height => "400"}
%object{ :type => "image/svg+xml", :data => "/assets/apacsinyear3lighti24xlarge.svg", :width => "400", :height => "400"}
%object{ :type => "image/svg+xml", :data => "/assets/apacsinyear3lighti28xlarge.svg", :width => "400", :height => "400"}
%object{ :type => "image/svg+xml", :data => "/assets/apacsinyear3lighti2xlarge.svg", :width => "400", :height => "400"}
%object{ :type => "image/svg+xml", :data => "/assets/apacsinyear3lightm1large.svg", :width => "400", :height => "400"}
%object{ :type => "image/svg+xml", :data => "/assets/apacsinyear3lightm1medium.svg", :width => "400", :height => "400"}
%object{ :type => "image/svg+xml", :data => "/assets/apacsinyear3lightm1small.svg", :width => "400", :height => "400"}
%object{ :type => "image/svg+xml", :data => "/assets/apacsinyear3lightm1xlarge.svg", :width => "400", :height => "400"}
%object{ :type => "image/svg+xml", :data => "/assets/apacsinyear3lightm22xlarge.svg", :width => "400", :height => "400"}
%object{ :type => "image/svg+xml", :data => "/assets/apacsinyear3lightm24xlarge.svg", :width => "400", :height => "400"}
%object{ :type => "image/svg+xml", :data => "/assets/apacsinyear3lightm2xlarge.svg", :width => "400", :height => "400"}
%object{ :type => "image/svg+xml", :data => "/assets/apacsinyear3lightm32xlarge.svg", :width => "400", :height => "400"}
%object{ :type => "image/svg+xml", :data => "/assets/apacsinyear3lightm3large.svg", :width => "400", :height => "400"}
%object{ :type => "image/svg+xml", :data => "/assets/apacsinyear3lightm3medium.svg", :width => "400", :height => "400"}
%object{ :type => "image/svg+xml", :data => "/assets/apacsinyear3lightm3xlarge.svg", :width => "400", :height => "400"}
%object{ :type => "image/svg+xml", :data => "/assets/apacsinyear3lightt1micro.svg", :width => "400", :height => "400"}
%object{ :type => "image/svg+xml", :data => "/assets/apacsinyear3mediumc1medium.svg", :width => "400", :height => "400"}
%object{ :type => "image/svg+xml", :data => "/assets/apacsinyear3mediumc1xlarge.svg", :width => "400", :height => "400"}
%object{ :type => "image/svg+xml", :data => "/assets/apacsinyear3mediumc32xlarge.svg", :width => "400", :height => "400"}
%object{ :type => "image/svg+xml", :data => "/assets/apacsinyear3mediumc34xlarge.svg", :width => "400", :height => "400"}
%object{ :type => "image/svg+xml", :data => "/assets/apacsinyear3mediumc38xlarge.svg", :width => "400", :height => "400"}
%object{ :type => "image/svg+xml", :data => "/assets/apacsinyear3mediumc3large.svg", :width => "400", :height => "400"}
%object{ :type => "image/svg+xml", :data => "/assets/apacsinyear3mediumc3xlarge.svg", :width => "400", :height => "400"}
%object{ :type => "image/svg+xml", :data => "/assets/apacsinyear3mediumhs18xlarge.svg", :width => "400", :height => "400"}
%object{ :type => "image/svg+xml", :data => "/assets/apacsinyear3mediumi22xlarge.svg", :width => "400", :height => "400"}
%object{ :type => "image/svg+xml", :data => "/assets/apacsinyear3mediumi24xlarge.svg", :width => "400", :height => "400"}
%object{ :type => "image/svg+xml", :data => "/assets/apacsinyear3mediumi28xlarge.svg", :width => "400", :height => "400"}
%object{ :type => "image/svg+xml", :data => "/assets/apacsinyear3mediumi2xlarge.svg", :width => "400", :height => "400"}
%object{ :type => "image/svg+xml", :data => "/assets/apacsinyear3mediumm1large.svg", :width => "400", :height => "400"}
%object{ :type => "image/svg+xml", :data => "/assets/apacsinyear3mediumm1medium.svg", :width => "400", :height => "400"}
%object{ :type => "image/svg+xml", :data => "/assets/apacsinyear3mediumm1small.svg", :width => "400", :height => "400"}
%object{ :type => "image/svg+xml", :data => "/assets/apacsinyear3mediumm1xlarge.svg", :width => "400", :height => "400"}
%object{ :type => "image/svg+xml", :data => "/assets/apacsinyear3mediumm22xlarge.svg", :width => "400", :height => "400"}
%object{ :type => "image/svg+xml", :data => "/assets/apacsinyear3mediumm24xlarge.svg", :width => "400", :height => "400"}
%object{ :type => "image/svg+xml", :data => "/assets/apacsinyear3mediumm2xlarge.svg", :width => "400", :height => "400"}
%object{ :type => "image/svg+xml", :data => "/assets/apacsinyear3mediumm32xlarge.svg", :width => "400", :height => "400"}
%object{ :type => "image/svg+xml", :data => "/assets/apacsinyear3mediumm3large.svg", :width => "400", :height => "400"}
%object{ :type => "image/svg+xml", :data => "/assets/apacsinyear3mediumm3medium.svg", :width => "400", :height => "400"}
%object{ :type => "image/svg+xml", :data => "/assets/apacsinyear3mediumm3xlarge.svg", :width => "400", :height => "400"}
%object{ :type => "image/svg+xml", :data => "/assets/apacsinyear3mediumt1micro.svg", :width => "400", :height => "400"}
