%object{ :type => "image/svg+xml", :data => "/assets/apacsydyear1heavyc1medium.svg", :width => "400", :height => "400"}
%object{ :type => "image/svg+xml", :data => "/assets/apacsydyear1heavyc1xlarge.svg", :width => "400", :height => "400"}
%object{ :type => "image/svg+xml", :data => "/assets/apacsydyear1heavyc32xlarge.svg", :width => "400", :height => "400"}
%object{ :type => "image/svg+xml", :data => "/assets/apacsydyear1heavyc34xlarge.svg", :width => "400", :height => "400"}
%object{ :type => "image/svg+xml", :data => "/assets/apacsydyear1heavyc38xlarge.svg", :width => "400", :height => "400"}
%object{ :type => "image/svg+xml", :data => "/assets/apacsydyear1heavyc3large.svg", :width => "400", :height => "400"}
%object{ :type => "image/svg+xml", :data => "/assets/apacsydyear1heavyc3xlarge.svg", :width => "400", :height => "400"}
%object{ :type => "image/svg+xml", :data => "/assets/apacsydyear1heavyhs18xlarge.svg", :width => "400", :height => "400"}
%object{ :type => "image/svg+xml", :data => "/assets/apacsydyear1heavyi22xlarge.svg", :width => "400", :height => "400"}
%object{ :type => "image/svg+xml", :data => "/assets/apacsydyear1heavyi24xlarge.svg", :width => "400", :height => "400"}
%object{ :type => "image/svg+xml", :data => "/assets/apacsydyear1heavyi28xlarge.svg", :width => "400", :height => "400"}
%object{ :type => "image/svg+xml", :data => "/assets/apacsydyear1heavyi2xlarge.svg", :width => "400", :height => "400"}
%object{ :type => "image/svg+xml", :data => "/assets/apacsydyear1heavym1large.svg", :width => "400", :height => "400"}
%object{ :type => "image/svg+xml", :data => "/assets/apacsydyear1heavym1medium.svg", :width => "400", :height => "400"}
%object{ :type => "image/svg+xml", :data => "/assets/apacsydyear1heavym1small.svg", :width => "400", :height => "400"}
%object{ :type => "image/svg+xml", :data => "/assets/apacsydyear1heavym1xlarge.svg", :width => "400", :height => "400"}
%object{ :type => "image/svg+xml", :data => "/assets/apacsydyear1heavym22xlarge.svg", :width => "400", :height => "400"}
%object{ :type => "image/svg+xml", :data => "/assets/apacsydyear1heavym24xlarge.svg", :width => "400", :height => "400"}
%object{ :type => "image/svg+xml", :data => "/assets/apacsydyear1heavym2xlarge.svg", :width => "400", :height => "400"}
%object{ :type => "image/svg+xml", :data => "/assets/apacsydyear1heavym32xlarge.svg", :width => "400", :height => "400"}
%object{ :type => "image/svg+xml", :data => "/assets/apacsydyear1heavym3large.svg", :width => "400", :height => "400"}
%object{ :type => "image/svg+xml", :data => "/assets/apacsydyear1heavym3medium.svg", :width => "400", :height => "400"}
%object{ :type => "image/svg+xml", :data => "/assets/apacsydyear1heavym3xlarge.svg", :width => "400", :height => "400"}
%object{ :type => "image/svg+xml", :data => "/assets/apacsydyear1heavyt1micro.svg", :width => "400", :height => "400"}
%object{ :type => "image/svg+xml", :data => "/assets/apacsydyear1lightc1medium.svg", :width => "400", :height => "400"}
%object{ :type => "image/svg+xml", :data => "/assets/apacsydyear1lightc1xlarge.svg", :width => "400", :height => "400"}
%object{ :type => "image/svg+xml", :data => "/assets/apacsydyear1lightc32xlarge.svg", :width => "400", :height => "400"}
%object{ :type => "image/svg+xml", :data => "/assets/apacsydyear1lightc34xlarge.svg", :width => "400", :height => "400"}
%object{ :type => "image/svg+xml", :data => "/assets/apacsydyear1lightc38xlarge.svg", :width => "400", :height => "400"}
%object{ :type => "image/svg+xml", :data => "/assets/apacsydyear1lightc3large.svg", :width => "400", :height => "400"}
%object{ :type => "image/svg+xml", :data => "/assets/apacsydyear1lightc3xlarge.svg", :width => "400", :height => "400"}
%object{ :type => "image/svg+xml", :data => "/assets/apacsydyear1lighths18xlarge.svg", :width => "400", :height => "400"}
%object{ :type => "image/svg+xml", :data => "/assets/apacsydyear1lighti22xlarge.svg", :width => "400", :height => "400"}
%object{ :type => "image/svg+xml", :data => "/assets/apacsydyear1lighti24xlarge.svg", :width => "400", :height => "400"}
%object{ :type => "image/svg+xml", :data => "/assets/apacsydyear1lighti28xlarge.svg", :width => "400", :height => "400"}
%object{ :type => "image/svg+xml", :data => "/assets/apacsydyear1lighti2xlarge.svg", :width => "400", :height => "400"}
%object{ :type => "image/svg+xml", :data => "/assets/apacsydyear1lightm1large.svg", :width => "400", :height => "400"}
%object{ :type => "image/svg+xml", :data => "/assets/apacsydyear1lightm1medium.svg", :width => "400", :height => "400"}
%object{ :type => "image/svg+xml", :data => "/assets/apacsydyear1lightm1small.svg", :width => "400", :height => "400"}
%object{ :type => "image/svg+xml", :data => "/assets/apacsydyear1lightm1xlarge.svg", :width => "400", :height => "400"}
%object{ :type => "image/svg+xml", :data => "/assets/apacsydyear1lightm22xlarge.svg", :width => "400", :height => "400"}
%object{ :type => "image/svg+xml", :data => "/assets/apacsydyear1lightm24xlarge.svg", :width => "400", :height => "400"}
%object{ :type => "image/svg+xml", :data => "/assets/apacsydyear1lightm2xlarge.svg", :width => "400", :height => "400"}
%object{ :type => "image/svg+xml", :data => "/assets/apacsydyear1lightm32xlarge.svg", :width => "400", :height => "400"}
%object{ :type => "image/svg+xml", :data => "/assets/apacsydyear1lightm3large.svg", :width => "400", :height => "400"}
%object{ :type => "image/svg+xml", :data => "/assets/apacsydyear1lightm3medium.svg", :width => "400", :height => "400"}
%object{ :type => "image/svg+xml", :data => "/assets/apacsydyear1lightm3xlarge.svg", :width => "400", :height => "400"}
%object{ :type => "image/svg+xml", :data => "/assets/apacsydyear1lightt1micro.svg", :width => "400", :height => "400"}
%object{ :type => "image/svg+xml", :data => "/assets/apacsydyear1mediumc1medium.svg", :width => "400", :height => "400"}
%object{ :type => "image/svg+xml", :data => "/assets/apacsydyear1mediumc1xlarge.svg", :width => "400", :height => "400"}
%object{ :type => "image/svg+xml", :data => "/assets/apacsydyear1mediumc32xlarge.svg", :width => "400", :height => "400"}
%object{ :type => "image/svg+xml", :data => "/assets/apacsydyear1mediumc34xlarge.svg", :width => "400", :height => "400"}
%object{ :type => "image/svg+xml", :data => "/assets/apacsydyear1mediumc38xlarge.svg", :width => "400", :height => "400"}
%object{ :type => "image/svg+xml", :data => "/assets/apacsydyear1mediumc3large.svg", :width => "400", :height => "400"}
%object{ :type => "image/svg+xml", :data => "/assets/apacsydyear1mediumc3xlarge.svg", :width => "400", :height => "400"}
%object{ :type => "image/svg+xml", :data => "/assets/apacsydyear1mediumhs18xlarge.svg", :width => "400", :height => "400"}
%object{ :type => "image/svg+xml", :data => "/assets/apacsydyear1mediumi22xlarge.svg", :width => "400", :height => "400"}
%object{ :type => "image/svg+xml", :data => "/assets/apacsydyear1mediumi24xlarge.svg", :width => "400", :height => "400"}
%object{ :type => "image/svg+xml", :data => "/assets/apacsydyear1mediumi28xlarge.svg", :width => "400", :height => "400"}
%object{ :type => "image/svg+xml", :data => "/assets/apacsydyear1mediumi2xlarge.svg", :width => "400", :height => "400"}
%object{ :type => "image/svg+xml", :data => "/assets/apacsydyear1mediumm1large.svg", :width => "400", :height => "400"}
%object{ :type => "image/svg+xml", :data => "/assets/apacsydyear1mediumm1medium.svg", :width => "400", :height => "400"}
%object{ :type => "image/svg+xml", :data => "/assets/apacsydyear1mediumm1small.svg", :width => "400", :height => "400"}
%object{ :type => "image/svg+xml", :data => "/assets/apacsydyear1mediumm1xlarge.svg", :width => "400", :height => "400"}
%object{ :type => "image/svg+xml", :data => "/assets/apacsydyear1mediumm22xlarge.svg", :width => "400", :height => "400"}
%object{ :type => "image/svg+xml", :data => "/assets/apacsydyear1mediumm24xlarge.svg", :width => "400", :height => "400"}
%object{ :type => "image/svg+xml", :data => "/assets/apacsydyear1mediumm2xlarge.svg", :width => "400", :height => "400"}
%object{ :type => "image/svg+xml", :data => "/assets/apacsydyear1mediumm32xlarge.svg", :width => "400", :height => "400"}
%object{ :type => "image/svg+xml", :data => "/assets/apacsydyear1mediumm3large.svg", :width => "400", :height => "400"}
%object{ :type => "image/svg+xml", :data => "/assets/apacsydyear1mediumm3medium.svg", :width => "400", :height => "400"}
%object{ :type => "image/svg+xml", :data => "/assets/apacsydyear1mediumm3xlarge.svg", :width => "400", :height => "400"}
%object{ :type => "image/svg+xml", :data => "/assets/apacsydyear1mediumt1micro.svg", :width => "400", :height => "400"}
%object{ :type => "image/svg+xml", :data => "/assets/apacsydyear3heavyc1medium.svg", :width => "400", :height => "400"}
%object{ :type => "image/svg+xml", :data => "/assets/apacsydyear3heavyc1xlarge.svg", :width => "400", :height => "400"}
%object{ :type => "image/svg+xml", :data => "/assets/apacsydyear3heavyc32xlarge.svg", :width => "400", :height => "400"}
%object{ :type => "image/svg+xml", :data => "/assets/apacsydyear3heavyc34xlarge.svg", :width => "400", :height => "400"}
%object{ :type => "image/svg+xml", :data => "/assets/apacsydyear3heavyc38xlarge.svg", :width => "400", :height => "400"}
%object{ :type => "image/svg+xml", :data => "/assets/apacsydyear3heavyc3large.svg", :width => "400", :height => "400"}
%object{ :type => "image/svg+xml", :data => "/assets/apacsydyear3heavyc3xlarge.svg", :width => "400", :height => "400"}
%object{ :type => "image/svg+xml", :data => "/assets/apacsydyear3heavyhs18xlarge.svg", :width => "400", :height => "400"}
%object{ :type => "image/svg+xml", :data => "/assets/apacsydyear3heavyi22xlarge.svg", :width => "400", :height => "400"}
%object{ :type => "image/svg+xml", :data => "/assets/apacsydyear3heavyi24xlarge.svg", :width => "400", :height => "400"}
%object{ :type => "image/svg+xml", :data => "/assets/apacsydyear3heavyi28xlarge.svg", :width => "400", :height => "400"}
%object{ :type => "image/svg+xml", :data => "/assets/apacsydyear3heavyi2xlarge.svg", :width => "400", :height => "400"}
%object{ :type => "image/svg+xml", :data => "/assets/apacsydyear3heavym1large.svg", :width => "400", :height => "400"}
%object{ :type => "image/svg+xml", :data => "/assets/apacsydyear3heavym1medium.svg", :width => "400", :height => "400"}
%object{ :type => "image/svg+xml", :data => "/assets/apacsydyear3heavym1small.svg", :width => "400", :height => "400"}
%object{ :type => "image/svg+xml", :data => "/assets/apacsydyear3heavym1xlarge.svg", :width => "400", :height => "400"}
%object{ :type => "image/svg+xml", :data => "/assets/apacsydyear3heavym22xlarge.svg", :width => "400", :height => "400"}
%object{ :type => "image/svg+xml", :data => "/assets/apacsydyear3heavym24xlarge.svg", :width => "400", :height => "400"}
%object{ :type => "image/svg+xml", :data => "/assets/apacsydyear3heavym2xlarge.svg", :width => "400", :height => "400"}
%object{ :type => "image/svg+xml", :data => "/assets/apacsydyear3heavym32xlarge.svg", :width => "400", :height => "400"}
%object{ :type => "image/svg+xml", :data => "/assets/apacsydyear3heavym3large.svg", :width => "400", :height => "400"}
%object{ :type => "image/svg+xml", :data => "/assets/apacsydyear3heavym3medium.svg", :width => "400", :height => "400"}
%object{ :type => "image/svg+xml", :data => "/assets/apacsydyear3heavym3xlarge.svg", :width => "400", :height => "400"}
%object{ :type => "image/svg+xml", :data => "/assets/apacsydyear3heavyt1micro.svg", :width => "400", :height => "400"}
%object{ :type => "image/svg+xml", :data => "/assets/apacsydyear3lightc1medium.svg", :width => "400", :height => "400"}
%object{ :type => "image/svg+xml", :data => "/assets/apacsydyear3lightc1xlarge.svg", :width => "400", :height => "400"}
%object{ :type => "image/svg+xml", :data => "/assets/apacsydyear3lightc32xlarge.svg", :width => "400", :height => "400"}
%object{ :type => "image/svg+xml", :data => "/assets/apacsydyear3lightc34xlarge.svg", :width => "400", :height => "400"}
%object{ :type => "image/svg+xml", :data => "/assets/apacsydyear3lightc38xlarge.svg", :width => "400", :height => "400"}
%object{ :type => "image/svg+xml", :data => "/assets/apacsydyear3lightc3large.svg", :width => "400", :height => "400"}
%object{ :type => "image/svg+xml", :data => "/assets/apacsydyear3lightc3xlarge.svg", :width => "400", :height => "400"}
%object{ :type => "image/svg+xml", :data => "/assets/apacsydyear3lighths18xlarge.svg", :width => "400", :height => "400"}
%object{ :type => "image/svg+xml", :data => "/assets/apacsydyear3lighti22xlarge.svg", :width => "400", :height => "400"}
%object{ :type => "image/svg+xml", :data => "/assets/apacsydyear3lighti24xlarge.svg", :width => "400", :height => "400"}
%object{ :type => "image/svg+xml", :data => "/assets/apacsydyear3lighti28xlarge.svg", :width => "400", :height => "400"}
%object{ :type => "image/svg+xml", :data => "/assets/apacsydyear3lighti2xlarge.svg", :width => "400", :height => "400"}
%object{ :type => "image/svg+xml", :data => "/assets/apacsydyear3lightm1large.svg", :width => "400", :height => "400"}
%object{ :type => "image/svg+xml", :data => "/assets/apacsydyear3lightm1medium.svg", :width => "400", :height => "400"}
%object{ :type => "image/svg+xml", :data => "/assets/apacsydyear3lightm1small.svg", :width => "400", :height => "400"}
%object{ :type => "image/svg+xml", :data => "/assets/apacsydyear3lightm1xlarge.svg", :width => "400", :height => "400"}
%object{ :type => "image/svg+xml", :data => "/assets/apacsydyear3lightm22xlarge.svg", :width => "400", :height => "400"}
%object{ :type => "image/svg+xml", :data => "/assets/apacsydyear3lightm24xlarge.svg", :width => "400", :height => "400"}
%object{ :type => "image/svg+xml", :data => "/assets/apacsydyear3lightm2xlarge.svg", :width => "400", :height => "400"}
%object{ :type => "image/svg+xml", :data => "/assets/apacsydyear3lightm32xlarge.svg", :width => "400", :height => "400"}
%object{ :type => "image/svg+xml", :data => "/assets/apacsydyear3lightm3large.svg", :width => "400", :height => "400"}
%object{ :type => "image/svg+xml", :data => "/assets/apacsydyear3lightm3medium.svg", :width => "400", :height => "400"}
%object{ :type => "image/svg+xml", :data => "/assets/apacsydyear3lightm3xlarge.svg", :width => "400", :height => "400"}
%object{ :type => "image/svg+xml", :data => "/assets/apacsydyear3lightt1micro.svg", :width => "400", :height => "400"}
%object{ :type => "image/svg+xml", :data => "/assets/apacsydyear3mediumc1medium.svg", :width => "400", :height => "400"}
%object{ :type => "image/svg+xml", :data => "/assets/apacsydyear3mediumc1xlarge.svg", :width => "400", :height => "400"}
%object{ :type => "image/svg+xml", :data => "/assets/apacsydyear3mediumc32xlarge.svg", :width => "400", :height => "400"}
%object{ :type => "image/svg+xml", :data => "/assets/apacsydyear3mediumc34xlarge.svg", :width => "400", :height => "400"}
%object{ :type => "image/svg+xml", :data => "/assets/apacsydyear3mediumc38xlarge.svg", :width => "400", :height => "400"}
%object{ :type => "image/svg+xml", :data => "/assets/apacsydyear3mediumc3large.svg", :width => "400", :height => "400"}
%object{ :type => "image/svg+xml", :data => "/assets/apacsydyear3mediumc3xlarge.svg", :width => "400", :height => "400"}
%object{ :type => "image/svg+xml", :data => "/assets/apacsydyear3mediumhs18xlarge.svg", :width => "400", :height => "400"}
%object{ :type => "image/svg+xml", :data => "/assets/apacsydyear3mediumi22xlarge.svg", :width => "400", :height => "400"}
%object{ :type => "image/svg+xml", :data => "/assets/apacsydyear3mediumi24xlarge.svg", :width => "400", :height => "400"}
%object{ :type => "image/svg+xml", :data => "/assets/apacsydyear3mediumi28xlarge.svg", :width => "400", :height => "400"}
%object{ :type => "image/svg+xml", :data => "/assets/apacsydyear3mediumi2xlarge.svg", :width => "400", :height => "400"}
%object{ :type => "image/svg+xml", :data => "/assets/apacsydyear3mediumm1large.svg", :width => "400", :height => "400"}
%object{ :type => "image/svg+xml", :data => "/assets/apacsydyear3mediumm1medium.svg", :width => "400", :height => "400"}
%object{ :type => "image/svg+xml", :data => "/assets/apacsydyear3mediumm1small.svg", :width => "400", :height => "400"}
%object{ :type => "image/svg+xml", :data => "/assets/apacsydyear3mediumm1xlarge.svg", :width => "400", :height => "400"}
%object{ :type => "image/svg+xml", :data => "/assets/apacsydyear3mediumm22xlarge.svg", :width => "400", :height => "400"}
%object{ :type => "image/svg+xml", :data => "/assets/apacsydyear3mediumm24xlarge.svg", :width => "400", :height => "400"}
%object{ :type => "image/svg+xml", :data => "/assets/apacsydyear3mediumm2xlarge.svg", :width => "400", :height => "400"}
%object{ :type => "image/svg+xml", :data => "/assets/apacsydyear3mediumm32xlarge.svg", :width => "400", :height => "400"}
%object{ :type => "image/svg+xml", :data => "/assets/apacsydyear3mediumm3large.svg", :width => "400", :height => "400"}
%object{ :type => "image/svg+xml", :data => "/assets/apacsydyear3mediumm3medium.svg", :width => "400", :height => "400"}
%object{ :type => "image/svg+xml", :data => "/assets/apacsydyear3mediumm3xlarge.svg", :width => "400", :height => "400"}
%object{ :type => "image/svg+xml", :data => "/assets/apacsydyear3mediumt1micro.svg", :width => "400", :height => "400"}
