%h4= @output
%img{src: "https://t2.gstatic.com/images?q=tbn:ANd9GcQiTg_VXKRFni6ugO0Y0OMIBT3FoAUwG0-6OgTWu4MVsZXI3icgcJyv7XIKmg"}/
%img{src: "https://t0.gstatic.com/images?q=tbn:ANd9GcRP0xF2UgiyrpmoOZpNoqPqZ6CVVOBcwbFKCNQ1gDjKl3dtgfnbl-KuN1A"}/
%img{src: "https://t1.gstatic.com/images?q=tbn:ANd9GcRHAgqc9xI3JgE2G49R19RkARqDh6bsHe5mxSj9Yeep8h-xc3s9joOqg_Em"}/
%img{src: "https://t3.gstatic.com/images?q=tbn:ANd9GcQwoc1CjjxVjBIvjD1gFLEZNuMsNBWvFVlHqUAqySTDyyKUUx1XJSZSjzk"}/
%img{src: "https://t2.gstatic.com/images?q=tbn:ANd9GcTDrDJ7OqHIcmgTj5cVk0-Ugtfrbb827redve0jVcrvU7HMibbokpIhHd5t"}/
%img{src: "https://t0.gstatic.com/images?q=tbn:ANd9GcQJzEDeucvsS1JLH31x_5wXIFpXQKTFWRbZg4NXTghVVB1flto9rP9YOwM"}/
%img{src: "https://t1.gstatic.com/images?q=tbn:ANd9GcTefQ9ja5EqN8weqzcpB1es4R-AGkOiKy188IDwYtvf8ZwNHBIDO2lQCG4"}/
%img{src: "https://t2.gstatic.com/images?q=tbn:ANd9GcRUlmYUVQGSotMkh6hWP3f8eCdx15KrIIN1GxsPFmZDkd5GxVIB4pW3J-MS"}/
