%object{ :type => "image/svg+xml", :data => "/assets/uswest2year1heavyc1medium.svg", :width => "400", :height => "400"}
%object{ :type => "image/svg+xml", :data => "/assets/uswest2year1heavyc1xlarge.svg", :width => "400", :height => "400"}
%object{ :type => "image/svg+xml", :data => "/assets/uswest2year1heavyc32xlarge.svg", :width => "400", :height => "400"}
%object{ :type => "image/svg+xml", :data => "/assets/uswest2year1heavyc34xlarge.svg", :width => "400", :height => "400"}
%object{ :type => "image/svg+xml", :data => "/assets/uswest2year1heavyc38xlarge.svg", :width => "400", :height => "400"}
%object{ :type => "image/svg+xml", :data => "/assets/uswest2year1heavyc3large.svg", :width => "400", :height => "400"}
%object{ :type => "image/svg+xml", :data => "/assets/uswest2year1heavyc3xlarge.svg", :width => "400", :height => "400"}
%object{ :type => "image/svg+xml", :data => "/assets/uswest2year1heavycc28xlarge.svg", :width => "400", :height => "400"}
%object{ :type => "image/svg+xml", :data => "/assets/uswest2year1heavycr18xlarge.svg", :width => "400", :height => "400"}
%object{ :type => "image/svg+xml", :data => "/assets/uswest2year1heavyg22xlarge.svg", :width => "400", :height => "400"}
%object{ :type => "image/svg+xml", :data => "/assets/uswest2year1heavyhi14xlarge.svg", :width => "400", :height => "400"}
%object{ :type => "image/svg+xml", :data => "/assets/uswest2year1heavyhs18xlarge.svg", :width => "400", :height => "400"}
%object{ :type => "image/svg+xml", :data => "/assets/uswest2year1heavyi22xlarge.svg", :width => "400", :height => "400"}
%object{ :type => "image/svg+xml", :data => "/assets/uswest2year1heavyi24xlarge.svg", :width => "400", :height => "400"}
%object{ :type => "image/svg+xml", :data => "/assets/uswest2year1heavyi28xlarge.svg", :width => "400", :height => "400"}
%object{ :type => "image/svg+xml", :data => "/assets/uswest2year1heavyi2xlarge.svg", :width => "400", :height => "400"}
%object{ :type => "image/svg+xml", :data => "/assets/uswest2year1heavym1large.svg", :width => "400", :height => "400"}
%object{ :type => "image/svg+xml", :data => "/assets/uswest2year1heavym1medium.svg", :width => "400", :height => "400"}
%object{ :type => "image/svg+xml", :data => "/assets/uswest2year1heavym1small.svg", :width => "400", :height => "400"}
%object{ :type => "image/svg+xml", :data => "/assets/uswest2year1heavym1xlarge.svg", :width => "400", :height => "400"}
%object{ :type => "image/svg+xml", :data => "/assets/uswest2year1heavym22xlarge.svg", :width => "400", :height => "400"}
%object{ :type => "image/svg+xml", :data => "/assets/uswest2year1heavym24xlarge.svg", :width => "400", :height => "400"}
%object{ :type => "image/svg+xml", :data => "/assets/uswest2year1heavym2xlarge.svg", :width => "400", :height => "400"}
%object{ :type => "image/svg+xml", :data => "/assets/uswest2year1heavym32xlarge.svg", :width => "400", :height => "400"}
%object{ :type => "image/svg+xml", :data => "/assets/uswest2year1heavym3large.svg", :width => "400", :height => "400"}
%object{ :type => "image/svg+xml", :data => "/assets/uswest2year1heavym3medium.svg", :width => "400", :height => "400"}
%object{ :type => "image/svg+xml", :data => "/assets/uswest2year1heavym3xlarge.svg", :width => "400", :height => "400"}
%object{ :type => "image/svg+xml", :data => "/assets/uswest2year1heavyt1micro.svg", :width => "400", :height => "400"}
%object{ :type => "image/svg+xml", :data => "/assets/uswest2year1lightc1medium.svg", :width => "400", :height => "400"}
%object{ :type => "image/svg+xml", :data => "/assets/uswest2year1lightc1xlarge.svg", :width => "400", :height => "400"}
%object{ :type => "image/svg+xml", :data => "/assets/uswest2year1lightc32xlarge.svg", :width => "400", :height => "400"}
%object{ :type => "image/svg+xml", :data => "/assets/uswest2year1lightc34xlarge.svg", :width => "400", :height => "400"}
%object{ :type => "image/svg+xml", :data => "/assets/uswest2year1lightc38xlarge.svg", :width => "400", :height => "400"}
%object{ :type => "image/svg+xml", :data => "/assets/uswest2year1lightc3large.svg", :width => "400", :height => "400"}
%object{ :type => "image/svg+xml", :data => "/assets/uswest2year1lightc3xlarge.svg", :width => "400", :height => "400"}
%object{ :type => "image/svg+xml", :data => "/assets/uswest2year1lightcc28xlarge.svg", :width => "400", :height => "400"}
%object{ :type => "image/svg+xml", :data => "/assets/uswest2year1lightcr18xlarge.svg", :width => "400", :height => "400"}
%object{ :type => "image/svg+xml", :data => "/assets/uswest2year1lightg22xlarge.svg", :width => "400", :height => "400"}
%object{ :type => "image/svg+xml", :data => "/assets/uswest2year1lighthi14xlarge.svg", :width => "400", :height => "400"}
%object{ :type => "image/svg+xml", :data => "/assets/uswest2year1lighths18xlarge.svg", :width => "400", :height => "400"}
%object{ :type => "image/svg+xml", :data => "/assets/uswest2year1lighti22xlarge.svg", :width => "400", :height => "400"}
%object{ :type => "image/svg+xml", :data => "/assets/uswest2year1lighti24xlarge.svg", :width => "400", :height => "400"}
%object{ :type => "image/svg+xml", :data => "/assets/uswest2year1lighti28xlarge.svg", :width => "400", :height => "400"}
%object{ :type => "image/svg+xml", :data => "/assets/uswest2year1lighti2xlarge.svg", :width => "400", :height => "400"}
%object{ :type => "image/svg+xml", :data => "/assets/uswest2year1lightm1large.svg", :width => "400", :height => "400"}
%object{ :type => "image/svg+xml", :data => "/assets/uswest2year1lightm1medium.svg", :width => "400", :height => "400"}
%object{ :type => "image/svg+xml", :data => "/assets/uswest2year1lightm1small.svg", :width => "400", :height => "400"}
%object{ :type => "image/svg+xml", :data => "/assets/uswest2year1lightm1xlarge.svg", :width => "400", :height => "400"}
%object{ :type => "image/svg+xml", :data => "/assets/uswest2year1lightm22xlarge.svg", :width => "400", :height => "400"}
%object{ :type => "image/svg+xml", :data => "/assets/uswest2year1lightm24xlarge.svg", :width => "400", :height => "400"}
%object{ :type => "image/svg+xml", :data => "/assets/uswest2year1lightm2xlarge.svg", :width => "400", :height => "400"}
%object{ :type => "image/svg+xml", :data => "/assets/uswest2year1lightm32xlarge.svg", :width => "400", :height => "400"}
%object{ :type => "image/svg+xml", :data => "/assets/uswest2year1lightm3large.svg", :width => "400", :height => "400"}
%object{ :type => "image/svg+xml", :data => "/assets/uswest2year1lightm3medium.svg", :width => "400", :height => "400"}
%object{ :type => "image/svg+xml", :data => "/assets/uswest2year1lightm3xlarge.svg", :width => "400", :height => "400"}
%object{ :type => "image/svg+xml", :data => "/assets/uswest2year1lightt1micro.svg", :width => "400", :height => "400"}
%object{ :type => "image/svg+xml", :data => "/assets/uswest2year1mediumc1medium.svg", :width => "400", :height => "400"}
%object{ :type => "image/svg+xml", :data => "/assets/uswest2year1mediumc1xlarge.svg", :width => "400", :height => "400"}
%object{ :type => "image/svg+xml", :data => "/assets/uswest2year1mediumc32xlarge.svg", :width => "400", :height => "400"}
%object{ :type => "image/svg+xml", :data => "/assets/uswest2year1mediumc34xlarge.svg", :width => "400", :height => "400"}
%object{ :type => "image/svg+xml", :data => "/assets/uswest2year1mediumc38xlarge.svg", :width => "400", :height => "400"}
%object{ :type => "image/svg+xml", :data => "/assets/uswest2year1mediumc3large.svg", :width => "400", :height => "400"}
%object{ :type => "image/svg+xml", :data => "/assets/uswest2year1mediumc3xlarge.svg", :width => "400", :height => "400"}
%object{ :type => "image/svg+xml", :data => "/assets/uswest2year1mediumcc28xlarge.svg", :width => "400", :height => "400"}
%object{ :type => "image/svg+xml", :data => "/assets/uswest2year1mediumcr18xlarge.svg", :width => "400", :height => "400"}
%object{ :type => "image/svg+xml", :data => "/assets/uswest2year1mediumg22xlarge.svg", :width => "400", :height => "400"}
%object{ :type => "image/svg+xml", :data => "/assets/uswest2year1mediumhi14xlarge.svg", :width => "400", :height => "400"}
%object{ :type => "image/svg+xml", :data => "/assets/uswest2year1mediumhs18xlarge.svg", :width => "400", :height => "400"}
%object{ :type => "image/svg+xml", :data => "/assets/uswest2year1mediumi22xlarge.svg", :width => "400", :height => "400"}
%object{ :type => "image/svg+xml", :data => "/assets/uswest2year1mediumi24xlarge.svg", :width => "400", :height => "400"}
%object{ :type => "image/svg+xml", :data => "/assets/uswest2year1mediumi28xlarge.svg", :width => "400", :height => "400"}
%object{ :type => "image/svg+xml", :data => "/assets/uswest2year1mediumi2xlarge.svg", :width => "400", :height => "400"}
%object{ :type => "image/svg+xml", :data => "/assets/uswest2year1mediumm1large.svg", :width => "400", :height => "400"}
%object{ :type => "image/svg+xml", :data => "/assets/uswest2year1mediumm1medium.svg", :width => "400", :height => "400"}
%object{ :type => "image/svg+xml", :data => "/assets/uswest2year1mediumm1small.svg", :width => "400", :height => "400"}
%object{ :type => "image/svg+xml", :data => "/assets/uswest2year1mediumm1xlarge.svg", :width => "400", :height => "400"}
%object{ :type => "image/svg+xml", :data => "/assets/uswest2year1mediumm22xlarge.svg", :width => "400", :height => "400"}
%object{ :type => "image/svg+xml", :data => "/assets/uswest2year1mediumm24xlarge.svg", :width => "400", :height => "400"}
%object{ :type => "image/svg+xml", :data => "/assets/uswest2year1mediumm2xlarge.svg", :width => "400", :height => "400"}
%object{ :type => "image/svg+xml", :data => "/assets/uswest2year1mediumm32xlarge.svg", :width => "400", :height => "400"}
%object{ :type => "image/svg+xml", :data => "/assets/uswest2year1mediumm3large.svg", :width => "400", :height => "400"}
%object{ :type => "image/svg+xml", :data => "/assets/uswest2year1mediumm3medium.svg", :width => "400", :height => "400"}
%object{ :type => "image/svg+xml", :data => "/assets/uswest2year1mediumm3xlarge.svg", :width => "400", :height => "400"}
%object{ :type => "image/svg+xml", :data => "/assets/uswest2year1mediumt1micro.svg", :width => "400", :height => "400"}
%object{ :type => "image/svg+xml", :data => "/assets/uswest2year3heavyc1medium.svg", :width => "400", :height => "400"}
%object{ :type => "image/svg+xml", :data => "/assets/uswest2year3heavyc1xlarge.svg", :width => "400", :height => "400"}
%object{ :type => "image/svg+xml", :data => "/assets/uswest2year3heavyc32xlarge.svg", :width => "400", :height => "400"}
%object{ :type => "image/svg+xml", :data => "/assets/uswest2year3heavyc34xlarge.svg", :width => "400", :height => "400"}
%object{ :type => "image/svg+xml", :data => "/assets/uswest2year3heavyc38xlarge.svg", :width => "400", :height => "400"}
%object{ :type => "image/svg+xml", :data => "/assets/uswest2year3heavyc3large.svg", :width => "400", :height => "400"}
%object{ :type => "image/svg+xml", :data => "/assets/uswest2year3heavyc3xlarge.svg", :width => "400", :height => "400"}
%object{ :type => "image/svg+xml", :data => "/assets/uswest2year3heavycc28xlarge.svg", :width => "400", :height => "400"}
%object{ :type => "image/svg+xml", :data => "/assets/uswest2year3heavycr18xlarge.svg", :width => "400", :height => "400"}
%object{ :type => "image/svg+xml", :data => "/assets/uswest2year3heavyg22xlarge.svg", :width => "400", :height => "400"}
%object{ :type => "image/svg+xml", :data => "/assets/uswest2year3heavyhi14xlarge.svg", :width => "400", :height => "400"}
%object{ :type => "image/svg+xml", :data => "/assets/uswest2year3heavyhs18xlarge.svg", :width => "400", :height => "400"}
%object{ :type => "image/svg+xml", :data => "/assets/uswest2year3heavyi22xlarge.svg", :width => "400", :height => "400"}
%object{ :type => "image/svg+xml", :data => "/assets/uswest2year3heavyi24xlarge.svg", :width => "400", :height => "400"}
%object{ :type => "image/svg+xml", :data => "/assets/uswest2year3heavyi28xlarge.svg", :width => "400", :height => "400"}
%object{ :type => "image/svg+xml", :data => "/assets/uswest2year3heavyi2xlarge.svg", :width => "400", :height => "400"}
%object{ :type => "image/svg+xml", :data => "/assets/uswest2year3heavym1large.svg", :width => "400", :height => "400"}
%object{ :type => "image/svg+xml", :data => "/assets/uswest2year3heavym1medium.svg", :width => "400", :height => "400"}
%object{ :type => "image/svg+xml", :data => "/assets/uswest2year3heavym1small.svg", :width => "400", :height => "400"}
%object{ :type => "image/svg+xml", :data => "/assets/uswest2year3heavym1xlarge.svg", :width => "400", :height => "400"}
%object{ :type => "image/svg+xml", :data => "/assets/uswest2year3heavym22xlarge.svg", :width => "400", :height => "400"}
%object{ :type => "image/svg+xml", :data => "/assets/uswest2year3heavym24xlarge.svg", :width => "400", :height => "400"}
%object{ :type => "image/svg+xml", :data => "/assets/uswest2year3heavym2xlarge.svg", :width => "400", :height => "400"}
%object{ :type => "image/svg+xml", :data => "/assets/uswest2year3heavym32xlarge.svg", :width => "400", :height => "400"}
%object{ :type => "image/svg+xml", :data => "/assets/uswest2year3heavym3large.svg", :width => "400", :height => "400"}
%object{ :type => "image/svg+xml", :data => "/assets/uswest2year3heavym3medium.svg", :width => "400", :height => "400"}
%object{ :type => "image/svg+xml", :data => "/assets/uswest2year3heavym3xlarge.svg", :width => "400", :height => "400"}
%object{ :type => "image/svg+xml", :data => "/assets/uswest2year3heavyt1micro.svg", :width => "400", :height => "400"}
%object{ :type => "image/svg+xml", :data => "/assets/uswest2year3lightc1medium.svg", :width => "400", :height => "400"}
%object{ :type => "image/svg+xml", :data => "/assets/uswest2year3lightc1xlarge.svg", :width => "400", :height => "400"}
%object{ :type => "image/svg+xml", :data => "/assets/uswest2year3lightc32xlarge.svg", :width => "400", :height => "400"}
%object{ :type => "image/svg+xml", :data => "/assets/uswest2year3lightc34xlarge.svg", :width => "400", :height => "400"}
%object{ :type => "image/svg+xml", :data => "/assets/uswest2year3lightc38xlarge.svg", :width => "400", :height => "400"}
%object{ :type => "image/svg+xml", :data => "/assets/uswest2year3lightc3large.svg", :width => "400", :height => "400"}
%object{ :type => "image/svg+xml", :data => "/assets/uswest2year3lightc3xlarge.svg", :width => "400", :height => "400"}
%object{ :type => "image/svg+xml", :data => "/assets/uswest2year3lightcc28xlarge.svg", :width => "400", :height => "400"}
%object{ :type => "image/svg+xml", :data => "/assets/uswest2year3lightcr18xlarge.svg", :width => "400", :height => "400"}
%object{ :type => "image/svg+xml", :data => "/assets/uswest2year3lightg22xlarge.svg", :width => "400", :height => "400"}
%object{ :type => "image/svg+xml", :data => "/assets/uswest2year3lighthi14xlarge.svg", :width => "400", :height => "400"}
%object{ :type => "image/svg+xml", :data => "/assets/uswest2year3lighths18xlarge.svg", :width => "400", :height => "400"}
%object{ :type => "image/svg+xml", :data => "/assets/uswest2year3lighti22xlarge.svg", :width => "400", :height => "400"}
%object{ :type => "image/svg+xml", :data => "/assets/uswest2year3lighti24xlarge.svg", :width => "400", :height => "400"}
%object{ :type => "image/svg+xml", :data => "/assets/uswest2year3lighti28xlarge.svg", :width => "400", :height => "400"}
%object{ :type => "image/svg+xml", :data => "/assets/uswest2year3lighti2xlarge.svg", :width => "400", :height => "400"}
%object{ :type => "image/svg+xml", :data => "/assets/uswest2year3lightm1large.svg", :width => "400", :height => "400"}
%object{ :type => "image/svg+xml", :data => "/assets/uswest2year3lightm1medium.svg", :width => "400", :height => "400"}
%object{ :type => "image/svg+xml", :data => "/assets/uswest2year3lightm1small.svg", :width => "400", :height => "400"}
%object{ :type => "image/svg+xml", :data => "/assets/uswest2year3lightm1xlarge.svg", :width => "400", :height => "400"}
%object{ :type => "image/svg+xml", :data => "/assets/uswest2year3lightm22xlarge.svg", :width => "400", :height => "400"}
%object{ :type => "image/svg+xml", :data => "/assets/uswest2year3lightm24xlarge.svg", :width => "400", :height => "400"}
%object{ :type => "image/svg+xml", :data => "/assets/uswest2year3lightm2xlarge.svg", :width => "400", :height => "400"}
%object{ :type => "image/svg+xml", :data => "/assets/uswest2year3lightm32xlarge.svg", :width => "400", :height => "400"}
%object{ :type => "image/svg+xml", :data => "/assets/uswest2year3lightm3large.svg", :width => "400", :height => "400"}
%object{ :type => "image/svg+xml", :data => "/assets/uswest2year3lightm3medium.svg", :width => "400", :height => "400"}
%object{ :type => "image/svg+xml", :data => "/assets/uswest2year3lightm3xlarge.svg", :width => "400", :height => "400"}
%object{ :type => "image/svg+xml", :data => "/assets/uswest2year3lightt1micro.svg", :width => "400", :height => "400"}
%object{ :type => "image/svg+xml", :data => "/assets/uswest2year3mediumc1medium.svg", :width => "400", :height => "400"}
%object{ :type => "image/svg+xml", :data => "/assets/uswest2year3mediumc1xlarge.svg", :width => "400", :height => "400"}
%object{ :type => "image/svg+xml", :data => "/assets/uswest2year3mediumc32xlarge.svg", :width => "400", :height => "400"}
%object{ :type => "image/svg+xml", :data => "/assets/uswest2year3mediumc34xlarge.svg", :width => "400", :height => "400"}
%object{ :type => "image/svg+xml", :data => "/assets/uswest2year3mediumc38xlarge.svg", :width => "400", :height => "400"}
%object{ :type => "image/svg+xml", :data => "/assets/uswest2year3mediumc3large.svg", :width => "400", :height => "400"}
%object{ :type => "image/svg+xml", :data => "/assets/uswest2year3mediumc3xlarge.svg", :width => "400", :height => "400"}
%object{ :type => "image/svg+xml", :data => "/assets/uswest2year3mediumcc28xlarge.svg", :width => "400", :height => "400"}
%object{ :type => "image/svg+xml", :data => "/assets/uswest2year3mediumcr18xlarge.svg", :width => "400", :height => "400"}
%object{ :type => "image/svg+xml", :data => "/assets/uswest2year3mediumg22xlarge.svg", :width => "400", :height => "400"}
%object{ :type => "image/svg+xml", :data => "/assets/uswest2year3mediumhi14xlarge.svg", :width => "400", :height => "400"}
%object{ :type => "image/svg+xml", :data => "/assets/uswest2year3mediumhs18xlarge.svg", :width => "400", :height => "400"}
%object{ :type => "image/svg+xml", :data => "/assets/uswest2year3mediumi22xlarge.svg", :width => "400", :height => "400"}
%object{ :type => "image/svg+xml", :data => "/assets/uswest2year3mediumi24xlarge.svg", :width => "400", :height => "400"}
%object{ :type => "image/svg+xml", :data => "/assets/uswest2year3mediumi28xlarge.svg", :width => "400", :height => "400"}
%object{ :type => "image/svg+xml", :data => "/assets/uswest2year3mediumi2xlarge.svg", :width => "400", :height => "400"}
%object{ :type => "image/svg+xml", :data => "/assets/uswest2year3mediumm1large.svg", :width => "400", :height => "400"}
%object{ :type => "image/svg+xml", :data => "/assets/uswest2year3mediumm1medium.svg", :width => "400", :height => "400"}
%object{ :type => "image/svg+xml", :data => "/assets/uswest2year3mediumm1small.svg", :width => "400", :height => "400"}
%object{ :type => "image/svg+xml", :data => "/assets/uswest2year3mediumm1xlarge.svg", :width => "400", :height => "400"}
%object{ :type => "image/svg+xml", :data => "/assets/uswest2year3mediumm22xlarge.svg", :width => "400", :height => "400"}
%object{ :type => "image/svg+xml", :data => "/assets/uswest2year3mediumm24xlarge.svg", :width => "400", :height => "400"}
%object{ :type => "image/svg+xml", :data => "/assets/uswest2year3mediumm2xlarge.svg", :width => "400", :height => "400"}
%object{ :type => "image/svg+xml", :data => "/assets/uswest2year3mediumm32xlarge.svg", :width => "400", :height => "400"}
%object{ :type => "image/svg+xml", :data => "/assets/uswest2year3mediumm3large.svg", :width => "400", :height => "400"}
%object{ :type => "image/svg+xml", :data => "/assets/uswest2year3mediumm3medium.svg", :width => "400", :height => "400"}
%object{ :type => "image/svg+xml", :data => "/assets/uswest2year3mediumm3xlarge.svg", :width => "400", :height => "400"}
%object{ :type => "image/svg+xml", :data => "/assets/uswest2year3mediumt1micro.svg", :width => "400", :height => "400"}
