%object{ :type => "image/svg+xml", :data => "/assets/uswestyear1heavyc1medium.svg", :width => "400", :height => "400"}
%object{ :type => "image/svg+xml", :data => "/assets/uswestyear1heavyc1xlarge.svg", :width => "400", :height => "400"}
%object{ :type => "image/svg+xml", :data => "/assets/uswestyear1heavyc32xlarge.svg", :width => "400", :height => "400"}
%object{ :type => "image/svg+xml", :data => "/assets/uswestyear1heavyc34xlarge.svg", :width => "400", :height => "400"}
%object{ :type => "image/svg+xml", :data => "/assets/uswestyear1heavyc38xlarge.svg", :width => "400", :height => "400"}
%object{ :type => "image/svg+xml", :data => "/assets/uswestyear1heavyc3large.svg", :width => "400", :height => "400"}
%object{ :type => "image/svg+xml", :data => "/assets/uswestyear1heavyc3xlarge.svg", :width => "400", :height => "400"}
%object{ :type => "image/svg+xml", :data => "/assets/uswestyear1heavyg22xlarge.svg", :width => "400", :height => "400"}
%object{ :type => "image/svg+xml", :data => "/assets/uswestyear1heavyi22xlarge.svg", :width => "400", :height => "400"}
%object{ :type => "image/svg+xml", :data => "/assets/uswestyear1heavyi24xlarge.svg", :width => "400", :height => "400"}
%object{ :type => "image/svg+xml", :data => "/assets/uswestyear1heavyi28xlarge.svg", :width => "400", :height => "400"}
%object{ :type => "image/svg+xml", :data => "/assets/uswestyear1heavyi2xlarge.svg", :width => "400", :height => "400"}
%object{ :type => "image/svg+xml", :data => "/assets/uswestyear1heavym1large.svg", :width => "400", :height => "400"}
%object{ :type => "image/svg+xml", :data => "/assets/uswestyear1heavym1medium.svg", :width => "400", :height => "400"}
%object{ :type => "image/svg+xml", :data => "/assets/uswestyear1heavym1small.svg", :width => "400", :height => "400"}
%object{ :type => "image/svg+xml", :data => "/assets/uswestyear1heavym1xlarge.svg", :width => "400", :height => "400"}
%object{ :type => "image/svg+xml", :data => "/assets/uswestyear1heavym22xlarge.svg", :width => "400", :height => "400"}
%object{ :type => "image/svg+xml", :data => "/assets/uswestyear1heavym24xlarge.svg", :width => "400", :height => "400"}
%object{ :type => "image/svg+xml", :data => "/assets/uswestyear1heavym2xlarge.svg", :width => "400", :height => "400"}
%object{ :type => "image/svg+xml", :data => "/assets/uswestyear1heavym32xlarge.svg", :width => "400", :height => "400"}
%object{ :type => "image/svg+xml", :data => "/assets/uswestyear1heavym3large.svg", :width => "400", :height => "400"}
%object{ :type => "image/svg+xml", :data => "/assets/uswestyear1heavym3medium.svg", :width => "400", :height => "400"}
%object{ :type => "image/svg+xml", :data => "/assets/uswestyear1heavym3xlarge.svg", :width => "400", :height => "400"}
%object{ :type => "image/svg+xml", :data => "/assets/uswestyear1heavyt1micro.svg", :width => "400", :height => "400"}
%object{ :type => "image/svg+xml", :data => "/assets/uswestyear1lightc1medium.svg", :width => "400", :height => "400"}
%object{ :type => "image/svg+xml", :data => "/assets/uswestyear1lightc1xlarge.svg", :width => "400", :height => "400"}
%object{ :type => "image/svg+xml", :data => "/assets/uswestyear1lightc32xlarge.svg", :width => "400", :height => "400"}
%object{ :type => "image/svg+xml", :data => "/assets/uswestyear1lightc34xlarge.svg", :width => "400", :height => "400"}
%object{ :type => "image/svg+xml", :data => "/assets/uswestyear1lightc38xlarge.svg", :width => "400", :height => "400"}
%object{ :type => "image/svg+xml", :data => "/assets/uswestyear1lightc3large.svg", :width => "400", :height => "400"}
%object{ :type => "image/svg+xml", :data => "/assets/uswestyear1lightc3xlarge.svg", :width => "400", :height => "400"}
%object{ :type => "image/svg+xml", :data => "/assets/uswestyear1lightg22xlarge.svg", :width => "400", :height => "400"}
%object{ :type => "image/svg+xml", :data => "/assets/uswestyear1lighti22xlarge.svg", :width => "400", :height => "400"}
%object{ :type => "image/svg+xml", :data => "/assets/uswestyear1lighti24xlarge.svg", :width => "400", :height => "400"}
%object{ :type => "image/svg+xml", :data => "/assets/uswestyear1lighti28xlarge.svg", :width => "400", :height => "400"}
%object{ :type => "image/svg+xml", :data => "/assets/uswestyear1lighti2xlarge.svg", :width => "400", :height => "400"}
%object{ :type => "image/svg+xml", :data => "/assets/uswestyear1lightm1large.svg", :width => "400", :height => "400"}
%object{ :type => "image/svg+xml", :data => "/assets/uswestyear1lightm1medium.svg", :width => "400", :height => "400"}
%object{ :type => "image/svg+xml", :data => "/assets/uswestyear1lightm1small.svg", :width => "400", :height => "400"}
%object{ :type => "image/svg+xml", :data => "/assets/uswestyear1lightm1xlarge.svg", :width => "400", :height => "400"}
%object{ :type => "image/svg+xml", :data => "/assets/uswestyear1lightm22xlarge.svg", :width => "400", :height => "400"}
%object{ :type => "image/svg+xml", :data => "/assets/uswestyear1lightm24xlarge.svg", :width => "400", :height => "400"}
%object{ :type => "image/svg+xml", :data => "/assets/uswestyear1lightm2xlarge.svg", :width => "400", :height => "400"}
%object{ :type => "image/svg+xml", :data => "/assets/uswestyear1lightm32xlarge.svg", :width => "400", :height => "400"}
%object{ :type => "image/svg+xml", :data => "/assets/uswestyear1lightm3large.svg", :width => "400", :height => "400"}
%object{ :type => "image/svg+xml", :data => "/assets/uswestyear1lightm3medium.svg", :width => "400", :height => "400"}
%object{ :type => "image/svg+xml", :data => "/assets/uswestyear1lightm3xlarge.svg", :width => "400", :height => "400"}
%object{ :type => "image/svg+xml", :data => "/assets/uswestyear1lightt1micro.svg", :width => "400", :height => "400"}
%object{ :type => "image/svg+xml", :data => "/assets/uswestyear1mediumc1medium.svg", :width => "400", :height => "400"}
%object{ :type => "image/svg+xml", :data => "/assets/uswestyear1mediumc1xlarge.svg", :width => "400", :height => "400"}
%object{ :type => "image/svg+xml", :data => "/assets/uswestyear1mediumc32xlarge.svg", :width => "400", :height => "400"}
%object{ :type => "image/svg+xml", :data => "/assets/uswestyear1mediumc34xlarge.svg", :width => "400", :height => "400"}
%object{ :type => "image/svg+xml", :data => "/assets/uswestyear1mediumc38xlarge.svg", :width => "400", :height => "400"}
%object{ :type => "image/svg+xml", :data => "/assets/uswestyear1mediumc3large.svg", :width => "400", :height => "400"}
%object{ :type => "image/svg+xml", :data => "/assets/uswestyear1mediumc3xlarge.svg", :width => "400", :height => "400"}
%object{ :type => "image/svg+xml", :data => "/assets/uswestyear1mediumg22xlarge.svg", :width => "400", :height => "400"}
%object{ :type => "image/svg+xml", :data => "/assets/uswestyear1mediumi22xlarge.svg", :width => "400", :height => "400"}
%object{ :type => "image/svg+xml", :data => "/assets/uswestyear1mediumi24xlarge.svg", :width => "400", :height => "400"}
%object{ :type => "image/svg+xml", :data => "/assets/uswestyear1mediumi28xlarge.svg", :width => "400", :height => "400"}
%object{ :type => "image/svg+xml", :data => "/assets/uswestyear1mediumi2xlarge.svg", :width => "400", :height => "400"}
%object{ :type => "image/svg+xml", :data => "/assets/uswestyear1mediumm1large.svg", :width => "400", :height => "400"}
%object{ :type => "image/svg+xml", :data => "/assets/uswestyear1mediumm1medium.svg", :width => "400", :height => "400"}
%object{ :type => "image/svg+xml", :data => "/assets/uswestyear1mediumm1small.svg", :width => "400", :height => "400"}
%object{ :type => "image/svg+xml", :data => "/assets/uswestyear1mediumm1xlarge.svg", :width => "400", :height => "400"}
%object{ :type => "image/svg+xml", :data => "/assets/uswestyear1mediumm22xlarge.svg", :width => "400", :height => "400"}
%object{ :type => "image/svg+xml", :data => "/assets/uswestyear1mediumm24xlarge.svg", :width => "400", :height => "400"}
%object{ :type => "image/svg+xml", :data => "/assets/uswestyear1mediumm2xlarge.svg", :width => "400", :height => "400"}
%object{ :type => "image/svg+xml", :data => "/assets/uswestyear1mediumm32xlarge.svg", :width => "400", :height => "400"}
%object{ :type => "image/svg+xml", :data => "/assets/uswestyear1mediumm3large.svg", :width => "400", :height => "400"}
%object{ :type => "image/svg+xml", :data => "/assets/uswestyear1mediumm3medium.svg", :width => "400", :height => "400"}
%object{ :type => "image/svg+xml", :data => "/assets/uswestyear1mediumm3xlarge.svg", :width => "400", :height => "400"}
%object{ :type => "image/svg+xml", :data => "/assets/uswestyear1mediumt1micro.svg", :width => "400", :height => "400"}
%object{ :type => "image/svg+xml", :data => "/assets/uswestyear3heavyc1medium.svg", :width => "400", :height => "400"}
%object{ :type => "image/svg+xml", :data => "/assets/uswestyear3heavyc1xlarge.svg", :width => "400", :height => "400"}
%object{ :type => "image/svg+xml", :data => "/assets/uswestyear3heavyc32xlarge.svg", :width => "400", :height => "400"}
%object{ :type => "image/svg+xml", :data => "/assets/uswestyear3heavyc34xlarge.svg", :width => "400", :height => "400"}
%object{ :type => "image/svg+xml", :data => "/assets/uswestyear3heavyc38xlarge.svg", :width => "400", :height => "400"}
%object{ :type => "image/svg+xml", :data => "/assets/uswestyear3heavyc3large.svg", :width => "400", :height => "400"}
%object{ :type => "image/svg+xml", :data => "/assets/uswestyear3heavyc3xlarge.svg", :width => "400", :height => "400"}
%object{ :type => "image/svg+xml", :data => "/assets/uswestyear3heavyg22xlarge.svg", :width => "400", :height => "400"}
%object{ :type => "image/svg+xml", :data => "/assets/uswestyear3heavyi22xlarge.svg", :width => "400", :height => "400"}
%object{ :type => "image/svg+xml", :data => "/assets/uswestyear3heavyi24xlarge.svg", :width => "400", :height => "400"}
%object{ :type => "image/svg+xml", :data => "/assets/uswestyear3heavyi28xlarge.svg", :width => "400", :height => "400"}
%object{ :type => "image/svg+xml", :data => "/assets/uswestyear3heavyi2xlarge.svg", :width => "400", :height => "400"}
%object{ :type => "image/svg+xml", :data => "/assets/uswestyear3heavym1large.svg", :width => "400", :height => "400"}
%object{ :type => "image/svg+xml", :data => "/assets/uswestyear3heavym1medium.svg", :width => "400", :height => "400"}
%object{ :type => "image/svg+xml", :data => "/assets/uswestyear3heavym1small.svg", :width => "400", :height => "400"}
%object{ :type => "image/svg+xml", :data => "/assets/uswestyear3heavym1xlarge.svg", :width => "400", :height => "400"}
%object{ :type => "image/svg+xml", :data => "/assets/uswestyear3heavym22xlarge.svg", :width => "400", :height => "400"}
%object{ :type => "image/svg+xml", :data => "/assets/uswestyear3heavym24xlarge.svg", :width => "400", :height => "400"}
%object{ :type => "image/svg+xml", :data => "/assets/uswestyear3heavym2xlarge.svg", :width => "400", :height => "400"}
%object{ :type => "image/svg+xml", :data => "/assets/uswestyear3heavym32xlarge.svg", :width => "400", :height => "400"}
%object{ :type => "image/svg+xml", :data => "/assets/uswestyear3heavym3large.svg", :width => "400", :height => "400"}
%object{ :type => "image/svg+xml", :data => "/assets/uswestyear3heavym3medium.svg", :width => "400", :height => "400"}
%object{ :type => "image/svg+xml", :data => "/assets/uswestyear3heavym3xlarge.svg", :width => "400", :height => "400"}
%object{ :type => "image/svg+xml", :data => "/assets/uswestyear3heavyt1micro.svg", :width => "400", :height => "400"}
%object{ :type => "image/svg+xml", :data => "/assets/uswestyear3lightc1medium.svg", :width => "400", :height => "400"}
%object{ :type => "image/svg+xml", :data => "/assets/uswestyear3lightc1xlarge.svg", :width => "400", :height => "400"}
%object{ :type => "image/svg+xml", :data => "/assets/uswestyear3lightc32xlarge.svg", :width => "400", :height => "400"}
%object{ :type => "image/svg+xml", :data => "/assets/uswestyear3lightc34xlarge.svg", :width => "400", :height => "400"}
%object{ :type => "image/svg+xml", :data => "/assets/uswestyear3lightc38xlarge.svg", :width => "400", :height => "400"}
%object{ :type => "image/svg+xml", :data => "/assets/uswestyear3lightc3large.svg", :width => "400", :height => "400"}
%object{ :type => "image/svg+xml", :data => "/assets/uswestyear3lightc3xlarge.svg", :width => "400", :height => "400"}
%object{ :type => "image/svg+xml", :data => "/assets/uswestyear3lightg22xlarge.svg", :width => "400", :height => "400"}
%object{ :type => "image/svg+xml", :data => "/assets/uswestyear3lighti22xlarge.svg", :width => "400", :height => "400"}
%object{ :type => "image/svg+xml", :data => "/assets/uswestyear3lighti24xlarge.svg", :width => "400", :height => "400"}
%object{ :type => "image/svg+xml", :data => "/assets/uswestyear3lighti28xlarge.svg", :width => "400", :height => "400"}
%object{ :type => "image/svg+xml", :data => "/assets/uswestyear3lighti2xlarge.svg", :width => "400", :height => "400"}
%object{ :type => "image/svg+xml", :data => "/assets/uswestyear3lightm1large.svg", :width => "400", :height => "400"}
%object{ :type => "image/svg+xml", :data => "/assets/uswestyear3lightm1medium.svg", :width => "400", :height => "400"}
%object{ :type => "image/svg+xml", :data => "/assets/uswestyear3lightm1small.svg", :width => "400", :height => "400"}
%object{ :type => "image/svg+xml", :data => "/assets/uswestyear3lightm1xlarge.svg", :width => "400", :height => "400"}
%object{ :type => "image/svg+xml", :data => "/assets/uswestyear3lightm22xlarge.svg", :width => "400", :height => "400"}
%object{ :type => "image/svg+xml", :data => "/assets/uswestyear3lightm24xlarge.svg", :width => "400", :height => "400"}
%object{ :type => "image/svg+xml", :data => "/assets/uswestyear3lightm2xlarge.svg", :width => "400", :height => "400"}
%object{ :type => "image/svg+xml", :data => "/assets/uswestyear3lightm32xlarge.svg", :width => "400", :height => "400"}
%object{ :type => "image/svg+xml", :data => "/assets/uswestyear3lightm3large.svg", :width => "400", :height => "400"}
%object{ :type => "image/svg+xml", :data => "/assets/uswestyear3lightm3medium.svg", :width => "400", :height => "400"}
%object{ :type => "image/svg+xml", :data => "/assets/uswestyear3lightm3xlarge.svg", :width => "400", :height => "400"}
%object{ :type => "image/svg+xml", :data => "/assets/uswestyear3lightt1micro.svg", :width => "400", :height => "400"}
%object{ :type => "image/svg+xml", :data => "/assets/uswestyear3mediumc1medium.svg", :width => "400", :height => "400"}
%object{ :type => "image/svg+xml", :data => "/assets/uswestyear3mediumc1xlarge.svg", :width => "400", :height => "400"}
%object{ :type => "image/svg+xml", :data => "/assets/uswestyear3mediumc32xlarge.svg", :width => "400", :height => "400"}
%object{ :type => "image/svg+xml", :data => "/assets/uswestyear3mediumc34xlarge.svg", :width => "400", :height => "400"}
%object{ :type => "image/svg+xml", :data => "/assets/uswestyear3mediumc38xlarge.svg", :width => "400", :height => "400"}
%object{ :type => "image/svg+xml", :data => "/assets/uswestyear3mediumc3large.svg", :width => "400", :height => "400"}
%object{ :type => "image/svg+xml", :data => "/assets/uswestyear3mediumc3xlarge.svg", :width => "400", :height => "400"}
%object{ :type => "image/svg+xml", :data => "/assets/uswestyear3mediumg22xlarge.svg", :width => "400", :height => "400"}
%object{ :type => "image/svg+xml", :data => "/assets/uswestyear3mediumi22xlarge.svg", :width => "400", :height => "400"}
%object{ :type => "image/svg+xml", :data => "/assets/uswestyear3mediumi24xlarge.svg", :width => "400", :height => "400"}
%object{ :type => "image/svg+xml", :data => "/assets/uswestyear3mediumi28xlarge.svg", :width => "400", :height => "400"}
%object{ :type => "image/svg+xml", :data => "/assets/uswestyear3mediumi2xlarge.svg", :width => "400", :height => "400"}
%object{ :type => "image/svg+xml", :data => "/assets/uswestyear3mediumm1large.svg", :width => "400", :height => "400"}
%object{ :type => "image/svg+xml", :data => "/assets/uswestyear3mediumm1medium.svg", :width => "400", :height => "400"}
%object{ :type => "image/svg+xml", :data => "/assets/uswestyear3mediumm1small.svg", :width => "400", :height => "400"}
%object{ :type => "image/svg+xml", :data => "/assets/uswestyear3mediumm1xlarge.svg", :width => "400", :height => "400"}
%object{ :type => "image/svg+xml", :data => "/assets/uswestyear3mediumm22xlarge.svg", :width => "400", :height => "400"}
%object{ :type => "image/svg+xml", :data => "/assets/uswestyear3mediumm24xlarge.svg", :width => "400", :height => "400"}
%object{ :type => "image/svg+xml", :data => "/assets/uswestyear3mediumm2xlarge.svg", :width => "400", :height => "400"}
%object{ :type => "image/svg+xml", :data => "/assets/uswestyear3mediumm32xlarge.svg", :width => "400", :height => "400"}
%object{ :type => "image/svg+xml", :data => "/assets/uswestyear3mediumm3large.svg", :width => "400", :height => "400"}
%object{ :type => "image/svg+xml", :data => "/assets/uswestyear3mediumm3medium.svg", :width => "400", :height => "400"}
%object{ :type => "image/svg+xml", :data => "/assets/uswestyear3mediumm3xlarge.svg", :width => "400", :height => "400"}
%object{ :type => "image/svg+xml", :data => "/assets/uswestyear3mediumt1micro.svg", :width => "400", :height => "400"}
